<h2>{{ site.ContactDesc[page.lang] }}</h2>
{% capture enURLContactText %}{{ site.URLContactEN[page.lang] }} {% endcapture %}
{% include form/components/input.html id="enUrlContact" text=enURLContactText type="url" %}

{% capture frURLContactText %}{{ site.URLContactFR[page.lang] }} {% endcapture %}
{% include form/components/input.html id="frUrlContact" text=frURLContactText type="url" %}

{% capture emailContactText %}{{ site.EmailContact[page.lang] }} {% endcapture %}
{% include form/components/input.html id="emailContact" text=emailContactText type="email" required=true %}

{% capture nameContactText %}{{ site.NameContact[page.lang] }} {% endcapture %}
{% include form/components/input.html id="nameContact" text=nameContactText rule="data-rule-names-en-fr" %}

{% capture ContactPhoneText %}{{ site.ContactPhone[page.lang] }} {% endcapture %}
{% include form/components/input.html id="phone" text=ContactPhoneText type="tel" rule="data-rule-custom-phone" %}
