<h2>{{ site.DateDesc[page.lang] }}</h2>
{% if include.created %}
  {% capture createdText %}{{ site.Created[page.lang] }} {% endcapture %}
  {% include form/components/input.html id="dateCreated" text=createdText required=true type="date" rule="data-rule-dateISO" %}
{% endif %}

{% if include.lastModified %}
  {% capture lastModifiedText %}{{ site.LastModified[page.lang] }} {% endcapture %}
  {% include form/components/input.html id="dateLastModified" text=lastModifiedText required=true type="date" rule="data-rule-dateISO" %}
{% endif %}

{% if include.metadata %}
  {% capture lastUpdatedText %}{{ site.LastUpdated[page.lang] }} {% endcapture %}
  {% include form/components/input.html id="dateLastUpdated" text=lastUpdatedText required=true type="date" rule="data-rule-dateISO" %}
{% endif %}
