<h2>{{ site.LicensesDesc[page.lang] }}</h2>
{% capture enUrlLicenseText %}{{ site.URLLicensesDescEN[page.lang] }} {% endcapture %}
{% include form/components/input.html id="enUrlLicense" text=enUrlLicenseText type="url" required=true %}

{% capture frUrlLicenseText %}{{ site.URLLicensesDescFR[page.lang] }} {% endcapture %}
{% include form/components/input.html id="frUrlLicense" text=frUrlLicenseText type="url" required=true %}

{% capture spdxIDLicenseText %}{{ site.SpdxIDLicencesDesc[page.lang] }} {% endcapture %}
{% include form/components/input.html id="spdxID" text=spdxIDLicenseText required=true %}
