{% for formGroup in site.data.forms[page.config].formGroups %}
<div>
  {% if formGroup.preset %}
    {% case formGroup.preset %}
      {% when 'adminCode' %}
        {% include form/presets/adminCode.html %}
      {% when 'contact' %}
        {% include form/presets/contact.html phone=formGroup.phone %}
      {% when 'dates' %}
        {% include form/presets/dates.html created=formGroup.created started=formGroup.started modified=formGroup.modified metadata=formGroup.metadata %}
      {% when 'description' %}
        {% include form/presets/description.html %}
      {% when 'languages' %}
        {% include form/presets/languages.html %}
      {% when 'licenses' %}
        {% include form/presets/licenses.html %}
      {% when 'orgLevel' %}
        {% include form/presets/orgLevel.html %}
      {% when 'provinceCode' %}
        {% include form/presets/provinceCode.html %}
      {% when 'schemaVersion' %}
        {% include form/presets/schemaVersion.html %}
      {% when 'status' %}
        {% include form/presets/status.html %}
      {% when 'submitter' %}
        {% include form/presets/submitter.html %}
      {% when 'tags' %}
        {% include form/presets/tags.html %}
      {% when 'selectStandard' %}
        {% include form/presets/selectStandard.html %}
      {% else %}
        {% if page.lang == 'en' %}
          <p>Throw <span style="color: red;">ERROR</span> (<strong>preset {{ formGroup.preset }}</strong> not found).</p>
        {% else %}
          <p>Retour <span style="color: red;">ERREUR</span> (<strong>preset {{ formGroup.preset }}</strong> non trouvé).</p>
        {% endif %}
    {% endcase %}
  {% else %}
    {% capture id %}{{ site.data.forms[page.config].id }}{% endcapture %}
    {% case formGroup.widget %}
      {% when 'group' %}
        {% include form/group.html id=id title=formGroup.title fields=formGroup.fields required=formGroup.required %}
      {% when 'select' %}
        {% include form/select.html id=id title=formGroup.title required=formGroup.required options=formGroup.options %}
      {% when 'string' %}
        {% include form/string.html id=id title=formGroup.title type=formGroup.type rule=formGroup.rule required=formGroup.required %}
      {% when 'string-i18n' %}
        {% include form/string-i18n.html id=id title=formGroup.title type=formGroup.type rule=formGroup.rule required=formGroup.required %}
      {% else %}
        {% if page.lang == 'en' %}
          <p>Throw <span style="color: red;">ERROR</span> (<strong>widget {{ formGroup.widget }}</strong> not found).</p>
        {% else %}
          <p>Retour <span style="color: red;">ERREUR</span> (<strong>widget {{ formGroup.widget }}</strong> non trouvé).</p>
        {% endif %}
    {% endcase %}
  {% endif %}
</div>
{% endfor %}
