<h2>{{ site.PartnersDesc[page.lang] }}</h2>
{% capture enUrlPartnerText %}{{ site.URLPartnersEN[page.lang] }} {% endcapture %}
{% include form/components/input.html id="enUrlPartner" text=enUrlPartnerText type="url" %}

{% capture frUrlPartnerText %}{{ site.URLPartnersFR[page.lang] }} {% endcapture %}
{% include form/components/input.html id="frUrlPartner" text=frUrlPartnerText type="url" %}

{% capture emailPartnerText %}{{ site.EmailPartners[page.lang] }} {% endcapture %}
{% include form/components/input.html id="emailPartner" text=emailPartnerText type="email" %}

{% capture enNamePartnerText %}{{ site.NamePartnersEN[page.lang] }} {% endcapture %}
{% include form/components/input.html id="enNamePartner" text=enNamePartnerText rule="data-rule-alphanum-space-en-fr" %}

{% capture frNamePartnerText %}{{ site.NamePartnersFR[page.lang] }} {% endcapture %}
{% include form/components/input.html id="frNamePartner" text=frNamePartnerText rule="data-rule-alphanum-space-en-fr" %}
