<h2>{{ site.PartnersDesc[page.lang] }}</h2>
<div class="form-group">
  <label for="enUrlPartner">{{ site.URLPartnersEN[page.lang] }}</label>
  <input class="form-control" id="enUrlPartner" name="enUrlPartner" type="url"/>
</div>
<div class="form-group">
  <label for="frUrlPartner">{{ site.URLPartnersFR[page.lang] }}</label>
  <input class="form-control" id="frUrlPartner" name="enUrlPartner" type="url"/>
</div>
<div class="form-group">
  <label for="emailPartner">{{ site.EmailPartners[page.lang] }}</label>
  <input class="form-control" id="emailPartner" name="emailPartner" type="email"/>
</div>
<div class="form-group">
  <label for="enNamePartner">{{ site.NamePartnersEN[page.lang] }}</label>
  <input class="form-control" id="enNamePartner" name="enNamePartner" type="text" data-rule-alphanum-space-en-fr="true"/>
</div>
<div class="form-group">
  <label for="frNamePartner">{{ site.NamePartnersFR[page.lang] }}</label>
  <input class="form-control" id="frNamePartner" name="frNamePartner" type="text" data-rule-alphanum-space-en-fr="true"/>
</div>
