<h2>{{ site.RelatedCodeDesc[page.lang] }}</h2>
{% capture enUrlRelatedCodeText %}{{ site.URLRelatedCodeEN[page.lang] }} {% endcapture %}
{% include form/components/input.html id="enUrlRelatedCode" text=enUrlRelatedCodeText type="url" %}

{% capture frUrlRelatedCodeText %}{{ site.URLRelatedCodeFR[page.lang] }} {% endcapture %}
{% include form/components/input.html id="frUrlRelatedCode" text=frUrlRelatedCodeText type="url" %}

{% capture EnNameRelatedCodeText %}{{ site.NameRelatedCodeEN[page.lang] }} {% endcapture %}
{% include form/components/input.html id="EnNameRelatedCode" text=EnNameRelatedCodeText type="url" rule="data-rule-alphanum-space-en-fr" %}

{% capture frNameRelatedCodeText %}{{ site.NameRelatedCodeFR[page.lang] }} {% endcapture %}
{% include form/components/input.html id="frNameRelatedCode" text=frNameRelatedCodeText type="url" rule="data-rule-alphanum-space-en-fr" %}
