<h2>{{ site.data.i18n.form[include.id][include.title].title[page.lang] }}</h2>
<div class="form-group">
  {%- capture label -%}{{ site.data.i18n.form[include.id][include.title].label[page.lang] }}{%- endcapture -%}
  {% include form/components/label.html name=include.title required=include.required label=label %}
  <select class="form-control" id="{{ include.title }}" name="{{ include.title }}"{% if include.required == nil or include.required %} required="required"{% endif %}>
    <option value="">&nbsp;</option>
    {% for option in include.options %}
      <option value="{{ option }}">{{ site.data.i18n.form[include.id][include.title].options[option][page.lang] }}</option>
    {% endfor %}
  </select>
</div>
