<h2>{{ site.TagsDesc[page.lang] }}</h2>
<div id="tags">
  <div id="tagsEN" class="form-group">
    <label class="required" for="tagEN">{{ site.TagsEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
    <input type="text" id="tagEN" name="tagEN" class="form-control" required="required">
  </div>
  <div id="tagsFR" class="form-group">
    <label class="required" for="tagFR">{{ site.TagsFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
    <input type="text" id="tagFR" name="tagFR" class="form-control" required="required">
  </div>
</div>
