{%- assign title = "contact" -%}
<li>
  <details open>
    <summary>{{ title }} {% include schema/components/required.html %} [array]</summary>
    <p>{{ site.data.i18n.form[include.idPreset][title].title[page.lang] }}</p>
    <ul class="list-unstyled">
      {%- include schema/components/li-group.html id=include.idPreset title=title group="email" param=site.data.forms.param.contact.email -%}
      {%- include schema/components/li-group.html id=include.idPreset title=title group="name" param=site.data.forms.param.contact.name -%}
      {%- if include.param.phone -%}
        {%- include schema/components/li-group.html id=include.idPreset title=title group="phone" param=site.data.forms.param.contact.phone -%}
      {%- endif -%}
    </ul>
  </details>
</li>
