{%- assign title = "date" -%}
<li>
  <details open>
    <summary>{{ title }} {% include schema/components/required.html %} [array]</summary>
    <p>{{ site.data.i18n.form.[include.idPreset][title].title[page.lang] }}</p>
    <ul class="list-unstyled">
      {%- if include.param.created -%}
        {%- include schema/components/li-group.html id=include.idPreset title=title group="created" group="created" param=site.data.forms.param.dates.created -%}
      {%- endif -%}

      {%- if include.param.started -%}
        {%- include schema/components/li-group.html id=include.idPreset title=title group="started" param=site.data.forms.param.dates.started -%}
      {%- endif -%}

      {%- include schema/components/li-group.html id=include.idPreset title=title group="metadataLastUpdated" -%}
    </ul>
  </details>
</li>
