{%- assign title = "licenses" -%}
<li>
  <details open>
    <summary>{{ title }} <span class="bg-primary">{{ site.data.i18n.form.required[page.lang] }}</span> [array]</summary>
    <p>{{ site.data.i18n.form[include.id][title].title[page.lang] }}</p>
    <ul class="list-unstyled">
      {%- include schema/components/li-i18n-group.html id=include.id title=title group="URL" -%}
      {%- include schema/components/li-group.html id=include.id title=title group="spdxID" -%}
    </ul>
  </details>
</li>
