<nav id="wb-bc" property="breadcrumb">
  <h2>{{ site.data.i18n.general.head.youarehere[page.lang] }}:</h2>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="./index.html">{{ site.data.i18n.general.head.home[page.lang] }}</a></li>

      {%- if page.ref == 'codeForm' or page.ref == 'codeGroups' or page.ref == 'codeSchema' -%}
        <li><a href="{{ site.data.i18n.general.nav.code.link[page.lang] }}">{{ site.data.i18n.general.nav.code[page.lang] }}</a></li>
      {%- elsif page.ref == 'designForm' or page.ref == 'designSchema' -%}
        <li><a href="{{ site.data.i18n.general.nav.design.link[page.lang] }}">{{ site.data.i18n.general.nav.design[page.lang] }}</a></li>
      {%- elsif page.ref == 'softwareForm' or page.ref == 'softwareSchema' -%}
        <li><a href="{{ site.data.i18n.general.nav.software.link[page.lang] }}">{{ site.data.i18n.general.nav.software[page.lang] }}</a></li>
      {%- elsif page.ref == 'standardForm' or page.ref == 'standardSchema' -%}
        <li><a href="{{ site.data.i18n.general.nav.standard.link[page.lang] }}">{{ site.data.i18n.general.nav.standard[page.lang] }}</a></li>
      {%- elsif page.ref == 'partnershipForm' or page.ref == 'partnershipSchema' -%}
        <li><a href="{{ site.data.i18n.general.nav.partnership.link[page.lang] }}">{{ site.data.i18n.general.nav.partnership[page.lang] }}</a></li>
      {%- elsif page.ref == 'stats' -%}
        <li><a href="{{ site.data.i18n.general.nav.stats.link[page.lang] }}">{{ site.data.i18n.general.nav.stats[page.lang] }}</a></li>
      {%- endif -%}
    </ol>
  </div>
</nav>
