<ul class="list-unstyled">
  {% include schema/schemaVersion.html %}

  {% include schema/adminCode.html %}

  <li>
    <details open>
      <summary>releases <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
      <p>{{ site.RealeasesDesc[page.lang] }}</p>
      <ul class="list-unstyled">
        {% include schema/contact.html %}

        {% include schema/date.html created=true modified=true metadata=true %}

        {% include schema/description.html %}

        {% include schema/downloadURL.html %}

        {% include schema/homepageURL.html %}

        {% include schema/languages.html %}

        {% include schema/projectName.html %}

        {% include schema/organization.html %}

        {% include schema/partners.html %}

        {% include schema/licenses.html %}

        {% include schema/repositoryURL.html %}

        {% include schema/relatedCode.html %}

        {% include schema/status.html %}

        {% include schema/tags.html %}

        {% include schema/vcs.html %}

        {% include schema/version.html %}
      </ul>
    </details>
  </li>
</ul>
