<div class="row">

<!-- Filter dropdowns -->
<div class="col-md-3">
  <details open>
    <summary><h4 class="h4">{{ site.data.i18n.tables.filterOptions[page.lang] }}</h4></summary>
    <form class="wb-tables-filter" data-bind-to="dataset-filter">
      <div class="form-group">
        <label for="dt_govLevel">{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</label>
        <select class="form-control" id="dt_govLevel" name="dt_govLevel" data-column="7">
          <option value="">&nbsp;</option>
          {%- for govLevels in site.data.i18n.administrations -%}
          {%- assign govLevel = govLevels[1] -%}
          <option value="{{ govLevel.value }}">{{ govLevel[page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_department">{{ site.data.i18n.form.administration.title[page.lang] }}</label>
        <select class="form-control" id="dt_department" name="dt_department" data-column="0">
          <option value="">&nbsp;</option>
          {%- assign admin_arr = "" | split: "," -%}
          {%- for admins in site.data.db.code.administrations -%}
            {%- assign admin = admins[0] -%}
            {%- assign administration = site.data.db.administrations[admin] -%}
            {%- assign admin_arr = admin_arr | push: administration -%}
          {%- endfor -%}
          {%- capture sort -%}name.{{ page.lang }}{%- endcapture -%}
          {%- assign admin_arr = admin_arr | sort: sort -%}
          {%- for admin in admin_arr -%}
            <option value="{{ admin.name[page.lang] }}">{{ admin.name[page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_organization">{{ site.data.i18n.form.presets.organization.schema[page.lang] }}</label>
        <select class="form-control" id="dt_organization" name="dt_organization" data-column="5">
          <option value="">&nbsp;</option>
          {%- assign org_arr = "" | split: "," -%}
          {%- for codes in site.data.db.code.releases -%}
            {%- for releases in codes[1] -%}
              {%- assign release = releases[1] -%}
              {%- if release.organization[page.lang] != nil -%}
                {%- assign org_arr = org_arr | push: release.organization[page.lang] -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign org_arr = org_arr | sort_natural | uniq -%}
          {%- for org in org_arr -%}
            <option value="{{ org }}">{{ org }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_licence">{{ site.data.i18n.tables.licence[page.lang] }}</label>
        <select class="form-control" id="dt_licence" name="dt_licence" data-column="3">
          <option value="">&nbsp;</option>
          {%- assign licence_arr = "" | split: "," -%}
          {%- for codes in site.data.db.code.releases -%}
            {%- for releases in codes[1] -%}
              {%- assign release = releases[1] -%}
              {%- for licence in release.licences -%}
                {%- assign licence_arr = licence_arr | push: licence.spdxID -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign licence_arr = licence_arr | sort_natural | uniq -%}
          {%- for licence in licence_arr -%}
            <option value="{{ licence }}">{{ licence }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_tag">{{ site.data.i18n.tables.tag[page.lang] }}</label>
        <select class="form-control" id="dt_tag" name="dt_tag" data-column="4">
          <option value="">&nbsp;</option>
          {%- assign tag_arr = "" | split: "," -%}
          {%- for codes in site.data.db.code.releases -%}
            {%- for releases in codes[1] -%}
              {%- assign release = releases[1] -%}
              {%- for tag in release.tags[page.lang] -%}
                {%- assign tag_arr = tag_arr | push: tag -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign tag_arr = tag_arr | sort_natural | uniq -%}
          {%- for tag in tag_arr -%}
            <option value="{{ tag }}">{{ tag }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">{{ site.data.i18n.tables.filter[page.lang] }}</button>
        </div>
        <div class="col-xs-6">
          <button type="reset" class="btn btn-default">{{ site.data.i18n.tables.clear[page.lang] }}</button>
        </div>
      </div>

    </form>
  </details>
</div>

<!-- Data Table -->
<div class="col-md-9" style="margin-bottom: 20px;">
  <table class="wb-tables table table-striped table-hover" id="dataset-filter" data-wb-tables='{"order": [1, "asc"], "columnDefs": [{"targets": [0,4,5,7,8,9,10,11,12], "visible": false}], "paging": true}'>
    <thead>
      <tr>
        <th>{{ site.data.i18n.form.administrations.title[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.projectName[page.lang] }}</th>
        <th>{{ site.data.i18n.form.presets.description.label.schema[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.licence[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.tag[page.lang] }}</th>
        <th>{{ site.data.i18n.form.presets.organization.schema[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.codeRepo[page.lang] }}</th>
        <th>{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.languages[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.relatedCode[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.status[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.created[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.metadataLastUpdated[page.lang] }}</th>
      </tr>
    </thead>
    <tbody>

      {%- for administrations in site.data.db.code.administrations -%}
        {%- assign administration = administrations[1] -%}
        {%- for releases in administration.releases -%}
          {%- assign release_name = releases | slugify: "ascii" -%}
          {%- assign release = site.data.db.code.releases[administration.adminCode][release_name] -%}
      <tr>
        <td>{{ site.data.db.administrations[administration.adminCode].name[page.lang] }}</td>
        <td><a href="#{{ release.name[page.lang] | slugify: "ascii" }}" aria-controls="{{ release.name[page.lang] | slugify: "ascii" }}" class="overlay-lnk" role="button">{{ release.name[page.lang] }}</a></td>
        <td>{{ release.description[page.lang] }}</td>
        <td>
          {%- for licence in release.licences -%}
          <a href="{{ licence.URL[page.lang] }}" target="_blank">{{ licence.spdxID }}</a>
          {%- endfor -%}
        </td>
        <td>
          {%- for tag in release.tags[page.lang] -%}
          {{ tag }}&nbsp;
          {%- endfor -%}
        </td>
        <td>{{ release.organization[page.lang] }}</td>
        <td><a href="{{ release.repositoryURL[page.lang] }}" target="_blank">{{ release.repositoryURL[page.lang] | remove: "https://" | replace first: "/", "                    " | truncate: 20, "" | rstrip }}</a></td>
        {%- assign parent = site.data.db.administrations[administration.adminCode].parent -%}
        <td>{{ site.data.i18n.administrations[parent][page.lang] }}</td>
        <td>
          {%- for language in release.languages -%}
          {{ language }}&nbsp;
          {%- endfor -%}
        </td>
        <td>
          {%- for relatedCode in release.relatedCode -%}
          <a href="{{ relatedCode.URL[page.lang] }}">{{ relatedCode.name[page.lang] }}</a>
          {%- endfor -%}
        </td>
        <td>{{ release.status }}</td>
        <td>{{ release.date.created }}</td>
        <td>{{ release.date.metadataLastUpdated }}</td>
      </tr>
        {%- endfor -%}
      {%- endfor -%}
    </tbody>
  </table>
</div>


<!-- Modal Lightboxes -->
{%- for administrations in site.data.db.code.administrations -%}
  {%- assign administration = administrations[1] -%}
  {%- for releases in administration.releases -%}
    {%- assign release_name = releases | slugify: "ascii" -%}
    {%- assign release = site.data.db.code.releases[administration.adminCode][release_name] -%}
    <section id="{{ release.name[page.lang] | slugify: "ascii" }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
      <header class="modal-header">
        <h2 class="modal-title">{{ release.name[page.lang] }}</h2>
      </header>
      <div class="modal-body">
        <p><strong>{{ release.description[page.lang] }}</strong></p>
        {%- assign parent = site.data.db.administrations[administration.adminCode].parent -%}
        <p>{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}: {{ site.data.i18n.administrations[parent][page.lang] }}</p>
        <p>{{ site.data.db.administrations[administration.adminCode].name[page.lang] }}</p>
        {%- if release.organization[page.lang] != nil -%}
        <p>{{ site.data.i18n.tables.lightbox.sourceCode[page.lang] }}:
          <a href="{{ release.repositoryURL.URL[page.lang] }}" target="_blank">{{ release.repositoryURL[page.lang] | remove: "https://" | replace_first: "/", "                    " | truncate: 20, "" | rstrip }}</a>
        </p>
        {%- endif -%}
        <p>{{ site.data.i18n.tables.licence[page.lang] }}:</p>
        <ul>
          {%- for licence in release.licences -%}
            <li><a href="{{ licence.URL[page.lang] }}">{{ licence.spdxID }}</a></li>
          {%- endfor -%}
        </ul>
        <p>{{ site.data.i18n.tables.tag[page.lang] }}:</p>
        <ul>
          {%- for tag in release.tags[page.lang] -%}
          <li>{{ tag }}</li>
          {%- endfor -%}
        </ul>
        {%- if release.languages != nil -%}
        <p>{{ site.data.i18n.tables.languages[page.lang] }}:</p>
        <ul>
          {%- for language in release.languages -%}
          <li>{{ language }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
        {%- if release.status != nil -%}
          <p>{{ site.data.i18n.tables.status[page.lang] }}: {{ release.status }}</p>
        {%- endif -%}
        <p>{{ site.data.i18n.tables.created[page.lang] }}: {{ release.date.created }}</p>
        <p>{{ site.data.i18n.tables.lastUpdated[page.lang] }}: {{ release.date.metadataLastUpdated }}</p>
        <h3>{{ site.data.i18n.tables.lightbox.contact[page.lang] }}</h3>
        {%- if release.contact.name != nil -%}
          <p>{{ release.contact.name }}</p>
        {%- endif -%}
        {%- if release.contact.phone != nil -%}
          <p>{{ site.data.i18n.tables.contactPhone[page.lang] }}: {{ release.contact.phone }}</p>
        {%- endif -%}
        {%- if release.contact.email != nil -%}
          <p><a href="mailto:{{ release.contact.email }}" target="_blank">{{ release.contact.email }}</a></p>
        {%- endif -%}
        {%- if release.contact.URL != nil -%}
          <p><a href="{{ release.contact.URL[page.lang] }}" target="_blank">{{ release.contact.URL[page.lang] }}</a></p>
        {%- endif -%}
      </div>
    </section>
  {%- endfor -%}
{%- endfor -%}

</div>
