
<div class="wb-frmvld">
  <form action="#" method="get" id="validation">
  <h2>{{ site.SchemaVersionCodeForm[page.lang] }}</h2>
    <div class="form-group">      
      <label for="shemaVersion" class="required">schemaVersion</label>
      <input class="form-control" id="shemaVersion" name="shemaVersion" type="text" readonly="readonly" required="required" value="1.0"/>
    </div>
          
  <h2>{{ site.AdminCodeForm[page.lang] }}</h2>
    <div class="form-group">
      <label for="adminCode" class="required">adminCode <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <select class="form-control" id="adminCode" name="adminCode" required="required">
        <option value="">&nbsp;</option>
        {% for adminsLevel in site.data.administrations %}
          {% assign adminsInfo = adminsLevel[1]%}
          {% for adminInfo in adminsInfo %}
            <option value = "{{ adminInfo.code }}">{{ adminInfo.name[page.lang] }}</option>
          {% endfor %}
        {% endfor %}
      </select>
    </div>
  
  <h2>{{ site.ContactCodeForm[page.lang] }}</h2>
  <h3>contact:</h3>
    <div class="form-group">
      <label for="enUrlContact">English URL</label>
      <input class="form-control" id="enUrlContact" name="enUrlContact" type="url" required="required"/>
    </div>
    <div>
      <label for="frUrlContact">French URL</label>
      <input class="form-control" id="frUrlContact" name="frUrlContact" type="url" required="required"/>
    </div>
    <div class="form-group">
      <label for="emailContact" class="required" >email <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="emailContact" name="emailContact" type="email" required="required" />
    </div>
    <div class="form-group">
      <label for="nameContact">name</label>
      <input class="form-control" id="nameContact" name="nameContact" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
    </div>
        <div class="form-group">
      <label for="phone">phone</label>
      <input class="form-control" id="phone" name="phone" type="tel"  data-rule-phoneUS="true" />
    </div>
  
  <h2>{{ site.DateCodeForm[page.lang] }}</h2>
  <h3>date:</h3>
    <div class="form-group">
      <label for="dateCreated" class="required">created <strong class="required">({{ site.MandatoryField[page.lang] }})</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
      <input class="form-control" id="dateCreated" name="dateCreated" type="date" data-rule-dateISO="true" required="required" />
    </div>
    <div class="form-group">
      <label for="dateLastModified">lastModified <span class="datepicker-format"> (YYYY-MM-DD)</span></label>
      <input class="form-control" id="dateLastModified" name="dateLastModified" type="date" data-rule-dateISO="true" />
    </div>
    <div class="form-group">
      <label for="dateLastUpdated" class="required">metadataLastUpdated <strong class="required">({{ site.MandatoryField[page.lang] }})</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
      <input class="form-control" id="dateLastUpdated" name="dateLastUpdated" type="date" data-rule-dateISO="true" required="required"/>
    </div>
  
  <h2>{{ site.DescriptionCodeDesc[page.lang] | split: "." }}</h2>
    <div class="form-group">
      <label for="enDescription" class="required">English description <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enDescription" name="enDescription" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    
      <label for="frDescription" class="required">French Description <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frDescription" name="frDescription" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    </div>
  
  <h2>{{ site.DownloadURLCodeDesc[page.lang] | split: "." }}</h2>
    <div class="form-group">
      <label for="enDownloadUrl">English downloadURL</label>
      <input class="form-control" id="enDownloadUrl" name="enDownloadUrl" type="url"/>
  
      <label for="frDownloadUrl">French downloadURL</label>
      <input class="form-control" id="frDownloadUrl" name="frDownloadUrl" type="url"/>
    </div>
  
  <h2>{{ site.HomepageURLCodeDesc[page.lang] | split: "." }}</h2>
    <div class="form-group">
      <label for="enHomepageURL">English downloadURL</label>
      <input class="form-control" id="enHomepageURL" name="homepageURL" type="url"/>
  
      <label for="frHomepageURL">French downloadURL</label>
      <input class="form-control" id="frHomepageURL" name="homepageURL" type="url"/>
    </div>
  
  <h2>{{ site.LanguagesCodeForm[page.lang] | split: "." }}</h2>
    <label>languages</label>
    {% assign languages_array = "" | split: "," %}
    {% for fptms in site.data.code %}
    {% assign fptm = fptms[1] %}
    {% for admins in fptm %}
      {% assign admin = admins[1] %}
      {% for release in admin.releases %}
        {% for language in release.languages %}
          {% assign languages_array = languages_array  | push: language %}
        {% endfor %}
      {% endfor %}
      {% endfor %}
    {% endfor %}
    
    {% assign languages_array = languages_array | uniq  %}
    {% for language in languages_array %}
      <div class="checkbox">
        <label><input type="checkbox" value="{{ language }}"> {{ language  }} </label>
      </div>
    {% endfor %}
  
    <div id="languages"></div>
    <button type="button" class="btn btn-default" onclick = "addMoreLanguages()">Add more languages</button>
  
  <h2>{{ site.NameCodeDesc[page.lang] | split: "." }}</h2>
    <div class="form-group">
      <label for="enProjectName" class="required">English name <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enProjectName" name="enProjectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
      
      <label for="frProjectName" class="required">French name <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frProjectName" name="frProjectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    </div>
  
  <h2>{{ site.OrganizationCodeDesc[page.lang] | split: "." }}</h2>
    <div class="form-group">
      <label for="enOrganization">English organization</label>
      <input class="form-control" id="enOrganization" name="enOrganization" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
  
      <label for="frOrganization">French organization</label>
      <input class="form-control" id="frOrganization" name="frOrganization" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
  
  <h2>{{ site.PartnerCodeForm[page.lang] }}</h2>
  <h3>partner:</h3>
    <div class="form-group">
      <label for="enUrlPartner">English URL</label>
      <input class="form-control" id="enUrlPartner" name="enUrlPartner" type="url"/>
  
      <label for="frUrlPartner">French URL</label>
      <input class="form-control" id="frUrlPartner" name="enUrlPartner" type="url"/>
    </div>
    <div class="form-group">
      <label for="emailPartner">Email</label>
      <input class="form-control" id="emailPartner" name="emailPartner" type="email"/>
    </div>
    <div class="form-group">
      <label for="enNamePartner">English Name</label>
      <input class="form-control" id="enNamePartner" name="enNamePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
      
      <label for="frNamePartner">French Name</label>
      <input class="form-control" id="frNamePartner" name="frNamePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
  
  <h2>{{ site.LicenseCodeForm[page.lang] }}</h2>
  <h3>licenses:</h3>	
    <div class="form-group">
      <label for="enUrlLicense" class="required" >English URL <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enUrlLicense" name="enUrlLicense" type="url" required="required"/>
  
      <label for="frUrlLicense" class="required">French URL <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frUrlLicense" name="frUrlLicense" type="url" required="required"/>
    </div>
    <div class="form-group">
      <label for="spdxID" class="required" >spdxID <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="spdxID" name="spdxID" type="text"  required="required"/>
    </div>
  
  <h2>{{ site.RepositoryURLDesc[page.lang] | split: "." }}</h2>
    <div class="form-group">
      <label for="enRepoUrl" class="required">English repositoryURL <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enRepoUrl" name="enRepoUrl" type="url" required="required"/>
      
      <label for="frRepoUrl" class="required">French repositoryURL <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frRepoUrl" name="frRepoUrl" type="url" required="required"/>
    </div>
  
  <h2>{{ site.RelatedCodeForm[page.lang] }}</h2>	
  <h3>relatedCode:</h3>
    <div class="form-group">
      <label for="enUrlRelatedCode">English URL</label>
      <input class="form-control" id="enUrlRelatedCode" name="enUrlRelatedCode" type="url"/>
      
      <label for="frUrlRelatedCode">French URL</label>
      <input class="form-control" id="frUrlRelatedCode" name="urlRelatedCode" type="url"/>
    </div>
    <div class="form-group">
      <label for="enNameRelatedCode">English name</label>
      <input class="form-control" id="enNameRelatedCode" name="enNameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
      
      <label for="frNameRelatedCode">French name</label>
      <input class="form-control" id="frNameRelatedCode" name="enNameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
  
  <h2>{{ site.StatusCodeForm[page.lang] }}</h2>
    <div class="form-group">
      <label for="status">status</label>
      <select class="form-control" id="status" name="status">
        <option value="">&nbsp;</option>
        <option value="Alpha">Alpha</option>
        <option value="Beta">Beta</option>
        <option value="Maintained">{{ site.MaitainedStatus[page.lang] }}</option>
        <option value="Deprecated">{{ site.DeprecatedStatus[page.lang] }}</option>
        <option value="Retired">{{ site.RetiredStatus[page.lang] }}</option>
      </select>
    </div>
  
  <h2>{{ site.TagsCodeDesc[page.lang] | split: "." }}</h2>
    <div id="tags" class="form-group">
      <label for="enTag" class="required">English tag <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enTag" name="tag" type="text" required="required"/>
      <label for="frTag" class="required">French tag <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frTag" name="frTag" type="text" required="required"/>
    </div>
    <button type="button" class="btn btn-default" onclick = "addMoreTags()">Add more tags</button>
  
  <h2>{{ site.VcsCodeForm[page.lang] }}</h2>
    <div class="form-group">
      <label for="vcs">vcs</label>
      <input class="form-control" id="vcs" name="vcs" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
    </div>
      
  <h2>{{ site.VersionCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="versionProject">version</label>
      <input class="form-control" id="versionProject" name="versionProject" type="text" />
    </div>
  
  </form>
  </div>
  
  <script>
  function addMoreLanguages(){
    let label = document.createElement("LABEL");
    let input = document.createElement("INPUT");
    let element = document.getElementById("languages");
  
    element.appendChild(label);
    element.appendChild(input);
  
    element.setAttribute("class", "form-group");
    label.setAttribute("for", "language");
    input.setAttribute("class", "form-control");
    input.setAttribute("id", "language");
    input.setAttribute("name", "language");
    input.setAttribute("type", "text");
  }
  function addMoreTags(){
    let label = document.createElement("LABEL");
    let input = document.createElement("INPUT");
  
    document.getElementById("tags").appendChild(label);
    document.getElementById("tags").appendChild(input);
  
    label.setAttribute("for", "tag");
    input.setAttribute("class", "form-control");
    input.setAttribute("id", "tag");
    input.setAttribute("name", "tag");
    input.setAttribute("type", "text");
  }
  </script>
  