<div class="wb-frmvld">
  <form action="#" method="get" id="validation">
  <h2>{{ site.SchemaVersionCodeDesc[page.lang]  }}</h2>
    <div class="form-group">      
      <label for="shemaVersion" class="required">{{ site.SchemaVersionCode[page.lang] }}</label>
      <input class="form-control" id="shemaVersion" name="shemaVersion" type="text" readonly="readonly" required="required" value="1.0"/>
    </div>

  <h2>{{ site.AdminCodeDesc[page.lang] }}</h2>
  <div class="form-group">
    <label for="adminCode" class="required">{{ site.AdminCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
    <select class="form-control" id="adminCode" name="adminCode" required="required">
      <option value="">&nbsp;</option>
      <optgroup label="Federal">
        {% for org in site.data.administrations.federal %}
          {% if org.name[page.lang] != nil %}
            <option value="{{ org.code }}">{{ org.name[page.lang] }}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
      <optgroup label="Provincial">
        {% for org in site.data.administrations.provincial %}
          {% if org.name[page.lang] != nil %}
            <option value="{{ org.code }}">{{ org.name[page.lang] }}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
      <optgroup label="Municipal">
        {% for org in site.data.administrations.municipal %}
          {% if org.name[page.lang] != nil %}
            <option value="{{ org.code }}">{{ org.name[page.lang] }}</option>
          {% endif %}
        {% endfor %}
      </optgroup>
    </select>
  </div>
  
  <div id="selectedProject" class="form-group"></div>

  <h2>{{ site.ContactCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enUrlContact">{{ site.URLContactCodeEN[page.lang] }}</label>
      <input class="form-control" id="enUrlContact" name="enUrlContact" type="url"/>
    </div>
    <div class="form-group">
      <label for="frUrlContact">{{ site.URLContactCodeFR[page.lang] }}</label>
      <input class="form-control" id="frUrlContact" name="frUrlContact" type="url"/>
    </div>
    <div class="form-group">
      <label for="emailContact" class="required" > {{ site.EmailContactCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="emailContact" name="emailContact" type="email" required="required" />
    </div>
    <div class="form-group">
      <label for="nameContact">{{ site.NameContactCode[page.lang] }}</label>
      <input class="form-control" id="nameContact" name="nameContact" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
    </div>
        <div class="form-group">
      <label for="phone">{{ site.ContactPhoneCode[page.lang] }}</label>
      <input class="form-control" id="phone" name="phone" type="tel"  data-rule-phoneUS="true" />
    </div>
  
  <h2>{{ site.DateCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="dateCreated" class="required">{{ site.CodeCreated[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
      <input class="form-control" id="dateCreated" name="dateCreated" type="date" data-rule-dateISO="true" required="required" />
    </div>
    <div class="form-group">
      <label for="dateLastModified">{{ site.LastModifiedCode[page.lang] }}<span class="datepicker-format"> (YYYY-MM-DD)</span></label>
      <input class="form-control" id="dateLastModified" name="dateLastModified" type="date" data-rule-dateISO="true" />
    </div>
    <div class="form-group">
      <label for="dateLastUpdated" class="required">{{ site.LastUpdatedCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
      <input class="form-control" id="dateLastUpdated" name="dateLastUpdated" type="date" data-rule-dateISO="true" required="required"/>
    </div>
  
  <h2>{{ site.DescriptionCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enDescription" class="required">{{ site.DescriptionCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enDescription" name="enDescription" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    </div>
    <div class="form-group">
      <label for="frDescription" class="required">{{ site.DescriptionCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frDescription" name="frDescription" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    </div>
  
  <h2>{{ site.DownloadURLCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enDownloadUrl">{{ site.DownloadURLCodeEN[page.lang] }}</label>
      <input class="form-control" id="enDownloadUrl" name="enDownloadUrl" type="url"/>
    </div>
    <div class="form-group">
      <label for="frDownloadUrl">{{ site.DownloadURLCodeFR[page.lang] }}</label>
      <input class="form-control" id="frDownloadUrl" name="frDownloadUrl" type="url"/>
    </div>
  
  <h2>{{ site.HomepageURLCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enHomepageURL">{{ site.HomepageURLCodeEN[page.lang] }}</label>
      <input class="form-control" id="enHomepageURL" name="homepageURL" type="url"/>
    </div>
    <div class="form-group">
      <label for="frHomepageURL">{{ site.HomepageURLCodeFR[page.lang] }}</label>
      <input class="form-control" id="frHomepageURL" name="homepageURL" type="url"/>
    </div>
  
  <h2>{{ site.LanguagesCodeDesc[page.lang] }}</h2>
    <label>{{ site.LanguagesName[page.lang] }}</label>
    {% assign languages_array = "" | split: "," %}
    {% for fptms in site.data.code %}
    {% assign fptm = fptms[1] %}
    {% for admins in fptm %}
      {% assign admin = admins[1] %}
      {% for release in admin.releases %}
        {% for language in release.languages %}
          {% assign languages_array = languages_array  | push: language %}
        {% endfor %}
      {% endfor %}
      {% endfor %}
    {% endfor %}
    
    {% assign languages_array = languages_array | uniq  %}
    {% for language in languages_array %}
      <div class="checkbox" >
        <label><input class="{{ language }}" type="checkbox" value="{{ language }}" name="{{ language }}"> {{ language  }} </label>
      </div>
    {% endfor %}
  
    <div id="codeLanguages" class="form-group"></div>
    <button type="button" class="btn btn-primary" onclick = "addMoreLanguages()">{{ site.AddMoreLanguages[page.lang] }}</button>
  
  <h2>{{ site.NameCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enProjectName" class="required">{{ site.NameCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enProjectName" name="enProjectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    </div>
    <div class="form-group">
      <label for="frProjectName" class="required">{{ site.NameCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frProjectName" name="frProjectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required"/>
    </div>
  
  <h2>{{ site.OrganizationCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enOrganization">{{ site.OrganizationCodeEN[page.lang] }}</label>
      <input class="form-control" id="enOrganization" name="enOrganization" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
    <div class="form-group">
      <label for="frOrganization">{{ site.OrganizationCodeFR[page.lang] }}</label>
      <input class="form-control" id="frOrganization" name="frOrganization" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
  
  <h2>{{ site.PartnersCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enUrlPartner">{{ site.URLPartnersCodeEN[page.lang] }}</label>
      <input class="form-control" id="enUrlPartner" name="enUrlPartner" type="url"/>
    </div>
    <div class="form-group">
      <label for="frUrlPartner">{{ site.URLPartnersCodeFR[page.lang] }}</label>
      <input class="form-control" id="frUrlPartner" name="enUrlPartner" type="url"/>
    </div>
    <div class="form-group">
      <label for="emailPartner">{{ site.EmailPartnersCode[page.lang] }}</label>
      <input class="form-control" id="emailPartner" name="emailPartner" type="email"/>
    </div>
    <div class="form-group">
      <label for="enNamePartner">{{ site.NamePartnersCodeEN[page.lang] }}</label>
      <input class="form-control" id="enNamePartner" name="enNamePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
    <div class="form-group">  
      <label for="frNamePartner">{{ site.NamePartnersCodeFR[page.lang] }}</label>
      <input class="form-control" id="frNamePartner" name="frNamePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
  
  <h2>{{ site.LicensesCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enUrlLicense" class="required" >{{ site.URLLicensesCodeDescEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enUrlLicense" name="enUrlLicense" type="url" required="required"/>
    </div>
    <div class="form-group">
      <label for="frUrlLicense" class="required">{{ site.URLLicensesCodeDescFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frUrlLicense" name="frUrlLicense" type="url" required="required"/>
    </div>
    <div class="form-group">
      <label for="spdxID" class="required" >{{ site.SpdxIDLicencesCodeDesc[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="spdxID" name="spdxID" type="text"  required="required"/>
    </div>
  
  <h2>{{ site.RepositoryURLCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="enRepoUrl" class="required">{{ site.RepositoryURLCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="enRepoUrl" name="enRepoUrl" type="url" required="required"/>
    </div>
    <div class="form-group">
      <label for="frRepoUrl" class="required">{{ site.RepositoryURLCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="frRepoUrl" name="frRepoUrl" type="url" required="required"/>
    </div>
  
  <h2>{{ site.RelatedCodeDesc[page.lang] }}</h2>	
    <div class="form-group">
      <label for="enUrlRelatedCode">{{ site.URLRelatedCodeEN[page.lang] }}</label>
      <input class="form-control" id="enUrlRelatedCode" name="enUrlRelatedCode" type="url"/>
    </div> 
    <div class="form-group"> 
      <label for="frUrlRelatedCode">{{ site.URLRelatedCodeFR[page.lang] }}</label>
      <input class="form-control" id="frUrlRelatedCode" name="urlRelatedCode" type="url"/>
    </div>
    <div class="form-group">
      <label for="enNameRelatedCode">{{ site.NameRelatedCodeEN[page.lang] }}</label>
      <input class="form-control" id="enNameRelatedCode" name="enNameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
    <div class="form-group">
      <label for="frNameRelatedCode">{{ site.NameRelatedCodeFR[page.lang] }}</label>
      <input class="form-control" id="frNameRelatedCode" name="enNameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
    </div>
  
  <h2>{{ site.StatusCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="status">{{ site.StatusName[page.lang] }}</label>
      <select class="form-control" id="status" name="status">
        <option value="">&nbsp;</option>
        <option value="Alpha">Alpha</option>
        <option value="Beta">Beta</option>
        <option value="Maintained">{{ site.MaitainedStatus[page.lang] }}</option>
        <option value="Deprecated">{{ site.DeprecatedStatus[page.lang] }}</option>
        <option value="Retired">{{ site.RetiredStatus[page.lang] }}</option>
      </select>
    </div>
  
  <h2>{{ site.TagsCodeDesc[page.lang] }}</h2>
    <div id="tags">
      <div id="tagsEN" class="form-group"></div>
      <div id="tagsFR" class="form-group"></div>
    </div>
 
  <h2>{{ site.VcsCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="vcs">{{ site.VcsName[page.lang] }}</label>
      <input class="form-control" id="vcs" name="vcs" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
    </div>

  <h2>{{ site.VersionCodeDesc[page.lang] }}</h2>
    <div class="form-group">
      <label for="versionProject">{{ site.VersionName[page.lang] }}</label>
      <input class="form-control" id="versionProject" name="versionProject" type="text" />
    </div>

  <h2>{{ site.InformationAboutSubmitter[page.lang] }}</h2>
    <div class="form-group">
      <label for="submitterUsername" class="required">{{ site.NameContactCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="submitterUsername" name="submitterUsername" type="text" pattern="[A-Za-z\s]" required="required"/>
    </div>
    <div class="form-group">
      <label for="submitterEmail" class="required">{{ site.EmailContactCode[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
      <input class="form-control" id="submitterEmail" name="submitterEmail" type="email" required="required"/>
    </div>
  
  <button id="prbotSubmit" type="button" class="btn btn-primary">Submit</button>
  <button id="codeFormReset" type="reset" class="btn btn-default">Reset</button>

  <div style="margin-top: 10px">
    <div id="prbotSubmitAlertInProgress" class="alert alert-warning" style="display: none">
      <b>{{ site.FormSubmissionInProgress[page.lang]}}</b>
    </div>
    <div id="prbotSubmitAlertFail" class="alert alert-danger" style="display: none">
      <b>{{ site.FormSubmissionFail[page.lang]}}</b>
    </div>
    <div id="prbotSubmitAlertSuccess" class="alert alert-success" style="display: none">
      <b>{{ site.FormSubmissionSuccess[page.lang]}}</b>
    </div>
  </div>

  </form>
  </div>
