<div class="wb-frmvld">
  <form action="#" method="get" id="validation">
  {% include form/schemaVersion.html %}

  {% include form/adminCode.html %}

  <div id="selectedProject" class="form-group"></div>

  {% include form/contactDescription.html %}

  {% include form/dateDescription.html created=true lastModified=true metadata=true %}

  {% include form/description.html %}

  {% include form/downloadURL.html %}

  {% include form/homepageURL.html %}

  {% include form/languages.html %}

  {% include form/projectName.html %}

  {% include form/organization.html %}

  {% include form/partners.html %}

  {% include form/licenses.html %}

  {% include form/repoURL.html %}

  {% include form/relatedCode.html %}

  {% include form/status.html %}

  {% include form/tags.html %}

  {% include form/vcs.html %}

  {% include form/version.html %}

  {% include form/submitterInfo.html %}

  <button id="prbotSubmitCode" type="button" class="btn btn-primary">Submit</button>
  <button id="codeFormReset" type="reset" class="btn btn-default">Reset</button>

  {% include form/submitAlert.html %}

  </form>
</div>
