<div class="row">

<!-- Filter dropdowns -->
<div class="col-md-3">
  <details open>
    <summary><h4 class="h4">{{ site.data.i18n.tables.filterOptions[page.lang] }}</h4></summary>
    <form class="wb-tables-filter" data-bind-to="dataset-filter">
      <div class="form-group">
        <label for="dt_govLevel">{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</label>
        <select class="form-control" id="dt_govLevel" name="dt_govLevel" data-column="8">
          <option value="">&nbsp;</option>
          {%- for govLevel in site.data.i18n.administrations -%}
          <option value="{{ govLevel[1].value }}">{{ govLevel[1][page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group hide">
        <label for="dt_department">{{ site.data.i18n.tables.administrations[page.lang] }}</label>
        <select class="form-control" id="dt_department" name="dt_department" data-column="0">
          <option value="">&nbsp;</option>
          {%- assign federal_arr = "" | split: ',' -%}
          {%- assign provincial_arr = "" | split: ',' -%}
          {%- assign municipal_arr = "" | split: ',' -%}
          {%- assign aboriginal_arr = "" | split: ',' -%}
          {%- assign other_arr = "" | split: ',' -%}
          {%- assign level = 0 -%}
          {%- assign code = site.data.code -%}
          {%- if code != nil -%}
            {%- assign code = code | sort -%}
          {%- endif -%}
          {%- for govLevels in code -%}
            {%- assign govLevel = govLevels[0] -%}
            {%- for admin in govLevels[1] -%}
            {%- assign administration = site.data.administrations[govLevel] | where: "code", admin[0] -%}
            {%- if administration[0] != nil -%}
              {%- case level -%}
              {%- when 0 -%}
                {%- assign aboriginal_arr = aboriginal_arr | push: administration[0] -%}
              {%- when 1 -%}
                {%- assign federal_arr = federal_arr | push: administration[0] -%}
              {%- when 2 -%}
                {%- assign municipal_arr = municipal_arr | push: administration[0] -%}
              {%- when 3 -%}
                {%- assign other_arr = other_arr | push: administration[0] -%}
              {%- when 4 -%}
                {%- assign provincial_arr = provincial_arr | push: administration[0] -%}
              {%- endcase -%}
            {%- endif -%}
            {%- endfor -%}
            {%- assign level = level | plus:1 -%}
          {%- endfor -%}
          {%- assign federal_arr = federal_arr | uniq -%}
          {%- assign provincial_arr = provincial_arr | uniq -%}
          {%- assign municipal_arr = municipal_arr | uniq -%}
          {%- assign aboriginal_arr = aboriginal_arr | uniq -%}
          {%- assign other_arr = other_arr | uniq -%}
          {%- assign id = 1 -%}
          {%- for federal in federal_arr -%}
            <option class="hide" id="{{id}}" value="{{federal.name[page.lang]}}" data-level="federal">{{federal.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for provincial in provincial_arr -%}
            <option class="hide" id="{{id}}" value="{{provincial.name[page.lang]}}" data-level="provincial">{{provincial.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for municipal in municipal_arr -%}
            <option class="hide" id="{{id}}" value="{{municipal.name[page.lang]}}" data-level="municipal">{{municipal.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for aboriginal in aboriginal_arr -%}
            <option class="hide" id="{{id}}" value="{{aboriginal.name[page.lang]}}" data-level="aboriginal">{{aboriginal.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for other in other_arr -%}
            <option class="hide" id="{{id}}" value="{{other.name[page.lang]}}" data-level="others">{{other.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_team">{{ site.data.i18n.tables.team[page.lang] }}</label>
        <select class="form-control" id="dt_team" name="dt_team" data-column="6">
          <option value="">&nbsp;</option>
          {%- assign team_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.code -%}
            {%- for admin in govLevels[1] -%}
              {%- for release in admin[1].releases -%}
                {%- if release.team[page.lang] != nil -%}
                  {%- assign team_arr = team_arr | push: release.team[page.lang] -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign team_arr = team_arr | group_by: "" | sort: "name" -%}
          {%- for team in team_arr -%}
            <option value="{{ team.name }}">{{ team.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_category">{{ site.data.i18n.tables.category[page.lang] }}</label>
        <select class="form-control" id="dt_category" name="dt_category" data-column="2">
          <option value="">&nbsp;</option>
          {%- assign cat_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.code -%}
            {%- for admin in govLevels[1] -%}
              {%- for release in admin[1].releases -%}
                {%- if release.category != nil -%}
                  {%- assign cat_arr = cat_arr | push: release.category -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign cat_arr = cat_arr | uniq -%}
          {%- for cat in cat_arr -%}
            <option value="{{ site.data.i18n.categories[cat][page.lang] }}">{{ site.data.i18n.categories[cat][page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_licence">{{ site.data.i18n.tables.licence[page.lang] }}</label>
        <select class="form-control" id="dt_licence" name="dt_licence" data-column="4">
          <option value="">&nbsp;</option>
          {%- assign licence_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.code -%}
            {%- for admin in govLevels[1] -%}
              {%- for release in admin[1].releases -%}
                {%- for licence in release.licences -%}
                  {%- assign licence_arr = licence_arr | push: licence.spdxID -%}
                {%- endfor -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign licence_arr = licence_arr | group_by: "" | sort: "name" -%}
          {%- for licence in licence_arr -%}
            <option value="{{ licence.name }}">{{ licence.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_tag">{{ site.data.i18n.tables.tag[page.lang] }}</label>
        <select class="form-control" id="dt_tag" name="dt_tag" data-column="5">
          <option value="">&nbsp;</option>
          {%- assign tag_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.code -%}
            {%- for admin in govLevels[1] -%}
              {%- for release in admin[1].releases -%}
                {%- for tag in release.tags[page.lang] -%}
                  {%- assign tag_arr = tag_arr | push: tag -%}
                {%- endfor -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign tag_arr = tag_arr | group_by: "" | sort: "name" -%}
          {%- for tag in tag_arr -%}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">{{ site.data.i18n.tables.filter[page.lang] }}</button>
        </div>
        <div class="col-xs-6">
          <button type="reset" class="btn btn-default">{{ site.data.i18n.tables.clear[page.lang] }}</button>
        </div>
      </div>

    </form>
  </details>
</div>

<!-- Data Table -->
<div class="col-md-9 mrgn-bttm-lg">
  <table class="wb-tables table table-striped table-hover" id="dataset-filter" data-wb-tables='{"order": [0, "asc"], "columnDefs": [{"targets": [0,5,6,8,9,10,11,12], "visible": false}], "paging": true}'>
    <thead>
      <tr>
        <th>{{ site.data.i18n.tables.administration[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.projectName[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.category[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.description[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.licence[page.lang] }}(s)</th>
        <th>{{ site.data.i18n.tables.tag[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.team[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.codeRepo[page.lang] }}</th>
        <th>{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.languages[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.relatedCode[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.status[page.lang] }}</th>
        <th>{{ site.data.i18n.form.presets.date.labels.created[page.lang] }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for govLevels in site.data.code -%}
        {%- assign govLevel = govLevels[0] -%}
        {%- for admin in govLevels[1] -%}
          {%- for release in admin[1].releases -%}
          <tr>
            {%- assign administration = site.data.administrations[govLevel] | where: "code", admin[0] -%}
            <td>{{ administration[0].name[page.lang] }}</td>

            <td><a href="#{{ release.name[page.lang] | slugify: "latin" }}" aria-controls="{{ release.name[page.lang] | slugify: "latin" }}" class="overlay-lnk" role="button" >{{ release.name[page.lang] }}</a></td>
            <td>
              {{ site.data.i18n.categories[release.category][page.lang] }}
            </td>
            <td>{{ release.description.whatItDoes[page.lang] }}</td>
            <td>
              {%- for licence in release.licences -%}
                <a href="{{ licence.URL[page.lang] }}" target="_blank">{{ licence.spdxID }}</a>&nbsp;
              {%- endfor -%}
            </td>
            <td>
              {%- for tag in release.tags[page.lang] -%}
                {{ tag }}&nbsp;
              {%- endfor -%}
            </td>
            <td>{{ release.team[page.lang] }}</td>
            <td>
              <a href="{{ release.repositoryURL[page.lang] }}" target="_blank">
                {{ release.repositoryURL[page.lang] | remove: "https://" | replace_first: "/", "                    " | truncate: 20, "" | rstrip }}
              </a>
            </td>
            <td>{{ site.data.i18n.administrations[govLevel].value }}</td>
            <td>
              {%- for languages in release.languages -%}
                {{ languages }}&nbsp;
              {%- endfor -%}
            </td>
            <td>
              {%- for relatedCode in release.relatedCode -%}
                <a href= "{{ relatedCode.URL[page.lang] }}">{{ relatedCode.name[page.lang] }}</a>
              {%- endfor -%}
            </td>
            <td>{{ release.status }}&nbsp;</td>
            <td>{{ release.date.created }}&nbsp;</td>
          </tr>
          {%- endfor -%}
        {%- endfor -%}
      {%- endfor -%}
    </tbody>
  </table>
</div>

<!-- Modal Lightboxes -->
{%- for govLevels in site.data.code -%}
{%- assign govLevel = govLevels[0] -%}
  {%- for admin in govLevels[1] -%}
    {%- for release in admin[1].releases -%}
      <section id="{{ release.name[page.lang] | slugify: "latin" }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
        <header class="modal-header">
          <h2 class="modal-title">{{ release.name[page.lang] }}</h2>
        </header>
        <div class="modal-body">
          <p><strong>{{ site.data.i18n.form.presets.description.labels.whatItDoes.subtitle[page.lang] }}</strong></p>
          <p>{{ release.description.whatItDoes[page.lang] }}</p>
        {%- if release.description.howItWorks[page.lang] != nil -%}
          <p><strong>{{ site.data.i18n.form.presets.description.labels.howItWorks.subtitle[page.lang] }}</strong></p>
          <p>{{release.description.howItWorks[page.lang]}}</p>
        {%- endif -%}
          <p><strong>{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}: </strong>{{ site.data.i18n.administrations[govLevel][page.lang] }}</p>
          {%- assign administration = site.data.administrations[govLevel] | where: "code", admin[0] -%}
          <p><strong>{{ site.data.i18n.tables.administration[page.lang] }}:</strong> {{ administration[0].name[page.lang] }}</p>
        {%- if release.team[page.lang] != nil -%}
          <p><strong>{{ site.data.i18n.tables.team[page.lang] }}:</strong> {{ release.team[page.lang] }}</p>
        {%- endif -%}
        <p><strong>{{ site.data.i18n.tables.lightbox.sourceCode[page.lang] }}:</strong>
          <a href="{{ release.repositoryURL[page.lang] }}" target="_blank">
              {{ release.repositoryURL[page.lang] | remove: "https://" | replace_first: "/", "                    " | truncate: 20, "" | rstrip }}
          </a>
        </p>
        <p><strong>{{ site.data.i18n.tables.licence[page.lang] }}(s):</strong></p>
        <ul>
          {%- for licence in release.licences -%}
            <li><a href="{{ licence.URL[page.lang] }}" target="_blank">{{ licence.spdxID }}</a></li>
          {%- endfor -%}
        </ul>
        <p><strong>{{ site.data.i18n.tables.tag[page.lang] }}(s):</strong></p>
        <ul>
          {%- for tag in release.tags[page.lang] -%}
            <li>{{ tag }}</li>
          {%- endfor -%}
        </ul>
        {%- if release.languages != nil -%}
        <p><strong>{{ site.data.i18n.tables.languages[page.lang] }}:</strong></p>
        <ul>
          {%- for languages in release.languages -%}
            <li>{{ languages }}</li>
          {%- endfor -%}
        </ul>
        {%- endif -%}
        {%- if release.status != nil -%}
          {%- assign status = release.status | downcase -%}
          <p><strong>{{ site.data.i18n.tables.status[page.lang] }}:</strong> {{ site.data.i18n.form.presets.status.options[status][page.lang] }}</p>
        {%- endif -%}
        <p><strong>{{ site.data.i18n.form.code.date.label[page.lang] }}:</strong> {{ release.date.created }}</p>

        <h3>{{ site.data.i18n.tables.lightbox.contact[page.lang] }}</h3>
        {%- if release.contact.name != nil -%}
          <p>{{ release.contact.name }}</p>
        {%- endif -%}
        {%- if release.contact.phone != nil -%}
          <p>{{ site.data.i18n.tables.contactPhone[page.lang] }}: {{ release.contact.phone }}</p>
        {%- endif -%}
        {%- if release.contact.email != nil -%}
          <p><a href="mailto:{{ release.contact.email }}" target="_blank">{{ release.contact.email }}</a></p>
        {%- endif -%}
        {%- if release.contact.URL != nil -%}
          <p><a href="{{ release.contact.URL[page.lang] }}" target="_blank">{{ release.contact.URL[page.lang] }}</a></p>
        {%- endif -%}
        </div>
      </section>
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}

</div>
