<div class="row">
<ul class="list-unstyled">
   <li>
        <details>
            <summary>Federal</summary>
            <div class="list-group">
            {% assign repo_array = "" | split: ','%}
            {% assign groups_array = "" | split: ','%}
            {% for fptms in site.data.code %}
                {% assign fptm = fptms[1] %}
                {% for admins in fptm %}
                    {% assign admin = admins[1] %}
                    {% for release in admin.releases %}
                        {% assign aName = site.data.administrations.federal | where: "code", admin.adminCode %}
                        {% if aName[0].name[page.lang] != nil %}
                            {% if release.repositoryURL[page.lang] != nil %}
                                {% assign repo_url =  release.repositoryURL[page.lang] | remove: "https://"  | split: "/" %}
                                {% assign repo_size =  repo_url | size %}
                                {% if repo_size == 3  %}
                                    {% assign org_url =  aName[0].name[page.lang] | append: "/" | append: repo_url[0] | append: "/" |  append: repo_url[1]  %}
                                    {% assign grp_url =  repo_url[0] | append: "/" |  append: repo_url[1]  %}
                                    {% assign repo_array = repo_array | push: org_url%}
                                    {% assign groups_array = groups_array | push: grp_url %}
                                    {% elsif repo_size == 4  %}
                                    {% assign org_url =  aName[0].name[page.lang] | append: "/" | append: repo_url[0] | append: "/" |  append: repo_url[1] | append: "/" |  append: repo_url[2]  %}
                                    {% assign grp_url =  repo_url[0] | append: "/" |  append: repo_url[1] | append: "/" |  append: repo_url[2] %}
                                    {% assign repo_array = repo_array | push: org_url %}
                                    {% assign groups_array = groups_array | push: grp_url %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            {% assign repo_array = repo_array | uniq  %}
            {% assign groups_array = groups_array | uniq %}
            {% for grp in groups_array %}
            {% assign grp_name = grp | split: "/" %}
                {% if grp_name.size == 2  %}
                    <a href="{{"https://"| append: grp}}" target="_blank">{{grp_name[1]}}</a>
                {% elsif grp_name.size == 3  %}
                    <a href="{{"https://"| append: grp}}" target="_blank">{{grp_name[2]}}</a>
                {%endif%}   
                {% for repo in repo_array %}
                {% assign org_name =  repo | split: "/" %}
                    {% if repo contains {{grp}} %}
                        <ul>
                            <li>
                                {{org_name[0]}}
                            </li>
                        </ul>
                    {%endif%}
                {% endfor %}
            {% endfor %}
            </div>
        </details>
   </li>
   <li>
        <details>
        <summary>Provincial</summary>
        <div class="list-group">
            {% assign repo_array = "" | split: ','%}
            {% assign groups_array = "" | split: ','%}
            {% for fptms in site.data.code %}
                {% assign fptm = fptms[1] %}
                {% for admins in fptm %}
                    {% assign admin = admins[1] %}
                    {% for release in admin.releases %}
                        {% assign aName = site.data.administrations.provincial | where: "code", admin.adminCode %}
                        {% if aName[0].name[page.lang] != nil %}
                            {% if release.repositoryURL[page.lang] != nil %}
                                {% assign repo_url =  release.repositoryURL[page.lang] | remove: "https://"  | split: "/" %}
                                {% assign repo_size =  repo_url | size %}
                                {% if repo_size == 3  %}
                                    {% assign org_url =  aName[0].name[page.lang] | append: "/" | append: repo_url[0] | append: "/" |  append: repo_url[1]  %}
                                    {% assign grp_url =  repo_url[0] | append: "/" |  append: repo_url[1]  %}
                                    {% assign repo_array = repo_array | push: org_url%}
                                    {% assign groups_array = groups_array | push: grp_url %}
                                    {% elsif repo_size == 4  %}
                                    {% assign org_url =  aName[0].name[page.lang] | append: "/" | append: repo_url[0] | append: "/" |  append: repo_url[1] | append: "/" |  append: repo_url[2]  %}
                                    {% assign grp_url =  repo_url[0] | append: "/" |  append: repo_url[1] | append: "/" |  append: repo_url[2] %}
                                    {% assign repo_array = repo_array | push: org_url %}
                                    {% assign groups_array = groups_array | push: grp_url %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            
            {% assign repo_array = repo_array | uniq  %}
            {% assign groups_array = groups_array | uniq %}
            {% for grp in groups_array %}
            {% assign grp_name = grp | split: "/" %}
                {% if grp_name.size == 2  %}
                    <a href="{{"https://"| append: grp}}" target="_blank">{{grp_name[1]}}</a>
                {% elsif grp_name.size == 3  %}
                    <a href="{{"https://"| append: grp}}" target="_blank">{{grp_name[2]}}</a>
                {%endif%}   
                {% for repo in repo_array %}
                {% assign org_name =  repo | split: "/" %}
                    {% if repo contains {{grp}} %}
                        <ul>
                            <li>
                                {{org_name[0]}}
                            </li>
                        </ul>
                    {%endif%}
                {% endfor %}
            {% endfor %}
            </div>
        </details>
   </li>
   <li>
        <details>
            <summary>Municipal</summary>
                <div class="list-group">
            {% assign repo_array = "" | split: ','%}
            {% assign groups_array = "" | split: ','%}
            {% for fptms in site.data.code %}
                {% assign fptm = fptms[1] %}
                {% for admins in fptm %}
                    {% assign admin = admins[1] %}
                    {% for release in admin.releases %}
                        {% assign aName = site.data.administrations.municipal | where: "code", admin.adminCode %}
                        {% if aName[0].name[page.lang] != nil %}
                            {% if release.repositoryURL[page.lang] != nil %}
                                {% assign repo_url =  release.repositoryURL[page.lang] | remove: "https://"  | split: "/" %}
                                {% assign repo_size =  repo_url | size %}
                                {% if repo_size == 3  %}
                                    {% assign org_url =  aName[0].name[page.lang] | append: "/" | append: repo_url[0] | append: "/" |  append: repo_url[1]  %}
                                    {% assign grp_url =  repo_url[0] | append: "/" |  append: repo_url[1]  %}
                                    {% assign repo_array = repo_array | push: org_url%}
                                    {% assign groups_array = groups_array | push: grp_url %}
                                    {% elsif repo_size == 4  %}
                                    {% assign org_url =  aName[0].name[page.lang] | append: "/" | append: repo_url[0] | append: "/" |  append: repo_url[1] | append: "/" |  append: repo_url[2]  %}
                                    {% assign grp_url =  repo_url[0] | append: "/" |  append: repo_url[1] | append: "/" |  append: repo_url[2] %}
                                    {% assign repo_array = repo_array | push: org_url %}
                                    {% assign groups_array = groups_array | push: grp_url %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            {% assign repo_array = repo_array | uniq  %}
            {% assign groups_array = groups_array | uniq %}
            {% for grp in groups_array %}
            {% assign grp_name = grp | split: "/" %}
                {% if grp_name.size == 2  %}
                    <a href="{{"https://"| append: grp}}" target="_blank">{{grp_name[1]}}</a>
                {% elsif grp_name.size == 3  %}
                    <a href="{{"https://"| append: grp}}" target="_blank">{{grp_name[2]}}</a>
                {%endif%}   
                {% for repo in repo_array %}
                {% assign org_name =  repo | split: "/" %}
                    {% if repo contains {{grp}} %}
                        <ul>
                            <li>
                                {{org_name[0]}}
                            </li>
                        </ul>
                    {%endif%}
                {% endfor %}
            {% endfor %}
            </div>
        </details>
   </li>
</ul>
</div>