{%- assign release_arr = "" | split: ',' -%}
{%- for govLevels in site.data.code -%}
  {%- for admins in govLevels[1] -%}
    {%- for releases in admins[1].releases -%}
      {%- assign release_arr = release_arr | push: releases -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}

{%- assign release_arr = release_arr | sort: 'date.metadataLastUpdated' | reverse -%}

<ul>
  {%- for release in release_arr limit: 3 -%}
  <li><a href="{{ release.repositoryURL[page.lang] }}" target="_blank">{{ release.name[page.lang] }}</a></li>
  {%- endfor -%}
</ul>
