<div class="row">

    <!-- Filters -->
    <div class="col-md-3">
      <details open>
        <summary><h4 class="h4">{{ site.data.i18n.tables.filterOptions[page.lang] }}</h4></summary>
        <form class="wb-tables-filter" data-bind-to="dataset-filter">
          <div class="form-group">
            <label for="dt_govLevel">{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</label>
            <select class="form-control" id="dt_govLevel" name="dt_govLevel" data-column="7">
              <option value="">&nbsp;</option>
              {%- for govLevel in site.data.i18n.administrations -%}
              <option value="{{ govLevel[1].value }}">{{ govLevel[1][page.lang] }}</option>
              {%- endfor -%}
            </select>
          </div>

          <div class="form-group hide">
            <label for="dt_department">{{ site.data.i18n.tables.administrations[page.lang] }}</label>
            <select class="form-control" id="dt_department" name="dt_department" data-column="8">
              <option value="">&nbsp;</option>
              {%- assign municipal_arr = "" | split: ',' -%}
              {%- assign provincial_arr = "" | split: ',' -%}
              {%- assign federal_arr = "" | split: ',' -%}
              {%- assign aboriginal_arr = "" | split: ',' -%}
              {%- assign other_arr = "" | split: ',' -%}
              {%- for design in site.data.design -%}
                {%- for admin in design[1].administrations -%}
                  {%- assign level = 0 -%}
                  {%- for govLevels in site.data.i18n.administrations -%}
                   {%- assign govLevel = govLevels[0] -%}
                    {%- assign administration = site.data.administrations[govLevel] | where: "code", admin.adminCode -%}
                    {%- if administration[0] != nil -%}
                      {%- case level -%}
                      {%- when 0 -%}
                        {%- assign federal_arr = federal_arr | push: administration[0]-%}
                      {%- when 1 -%}
                        {%- assign provincial_arr = provincial_arr | push: administration[0]-%}
                      {%- when 2 -%}
                        {%- assign municipal_arr = municipal_arr | push: administration[0]-%}
                      {%- when 3 -%}
                        {%- assign aboriginal_arr = aboriginal_arr | push: administration[0]-%}
                      {%- when 4 -%}
                        {%- assign other_arr = other_arr | push: administration[0]-%}
                      {%- endcase -%}
                    {%- endif -%}
                  {%- assign level = level | plus:1 -%}
                  {%- endfor -%}
                {%- endfor -%}
              {%- endfor -%}
              {%- assign federal_arr = federal_arr | uniq -%}
              {%- assign provincial_arr = provincial_arr | uniq -%}
              {%- assign municipal_arr = municipal_arr | uniq -%}
              {%- assign aboriginal_arr = aboriginal_arr | uniq -%}
              {%- assign other_arr = other_arr | uniq -%}
              {%- assign id = 1 -%}
              {%- for federal in federal_arr -%}
                <option class="hide" id="{{id}}" value="{{federal.code}}" data-level="federal">{{federal.name[page.lang]}}</option>
                {%- assign id = id | plus: 1 -%}
              {%- endfor -%}
              {%- for provincial in provincial_arr -%}
                <option class="hide" id="{{id}}" value="{{provincial.code}}" data-level="provincial">{{provincial.name[page.lang]}}</option>
                {%- assign id = id | plus: 1 -%}
              {%- endfor -%}
              {%- for municipal in municipal_arr -%}
                <option class="hide" id="{{id}}" value="{{municipal.code}}" data-level="municipal">{{municipal.name[page.lang]}}</option>
                {%- assign id = id | plus: 1 -%}
              {%- endfor -%}
              {%- for aboriginal in aboriginal_arr -%}
                <option class="hide" id="{{id}}" value="{{aboriginal.code}}" data-level="aboriginal">{{aboriginal.name[page.lang]}}</option>
                {%- assign id = id | plus: 1 -%}
              {%- endfor -%}
              {%- for other in other_arr -%}
                <option class="hide" id="{{id}}" value="{{other.code}}" data-level="others">{{other.name[page.lang]}}</option>
                {%- assign id = id | plus: 1 -%}
              {%- endfor -%}
            </select>
          </div>

          <div class="form-group">
            <label for="dt_licence">Licence</label>
            <select class="form-control" id="dt_licence" name="dt_licence" data-column="2">
              <option value="">&nbsp;</option>
              {%- assign licence_arr = "" | split: ',' -%}
              {%- for design in site.data.design -%}
                {%- for licence in design[1].licences -%}
                  {%- assign licence_arr = licence_arr | push: licence.spdxID -%}
                {%- endfor -%}
              {%- endfor -%}
              {%- assign licence_arr = licence_arr | group_by: "" | sort: "name" -%}
              {%- for licence in licence_arr -%}
                <option value="{{ licence.name }}">{{ licence.name }}</option>
              {%- endfor -%}
            </select>
          </div>

          <div class="form-group">
            <label for="dt_type">Type</label>
            <select class="form-control" id="dt_type" name="dt_type" data-column="3">
              <option value="">&nbsp;</option>
              {%- assign type_arr = "" | split: ',' -%}
              {%- for defaultType in site.data.i18n.defaultTypes -%}
                {%- assign type_arr = type_arr | push: defaultType -%}
              {%- endfor -%}
              {%- for design in site.data.design -%}
                {%- for ntype in design[1].designTypes -%}
                  {%- assign type_arr = type_arr | push: ntype -%}
                {%- endfor -%}
              {%- endfor -%}
              {%- assign type_arr = type_arr | uniq | sort: "name" -%}
              {%- for dtype in type_arr -%}
                <option value="{{ dtype.type[page.lang] }}">{{ dtype.type[page.lang] }}</option>
              {%- endfor -%}
            </select>
          </div>

          <div class="form-group">
            <label for="dt_status">Design Status</label>
            <select class="form-control" id="dt_status" name="dt_status" data-column="6">
              <option value="">&nbsp;</option>
              <option value="{{site.data.i18n.form.presets.designStatus.options.Used[page.lang]}}">{{ site.data.i18n.form.presets.designStatus.options.Used[page.lang] }}</option>
              <option value="{{site.data.i18n.form.presets.designStatus.options.Modified[page.lang]}}"> {{site.data.i18n.form.presets.designStatus.options.Modified[page.lang]}} </option>
              <option value="{{site.data.i18n.form.presets.designStatus.options.Outdated[page.lang]}}"> {{site.data.i18n.form.presets.designStatus.options.Outdated[page.lang]}} </option>
            </select>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">{{ site.data.i18n.tables.filter[page.lang] }}</button>
            </div>
            <div class="col-xs-6">
              <button type="reset" class="btn btn-default">{{ site.data.i18n.tables.clear[page.lang] }}</button>
            </div>
          </div>

        </form>
      </details>
    </div>

    <!-- Data Table -->
    <div class="col-md-9 mrgn-bttm-lg">
      <div id="designlayout_wrapper" class="dataTables_wrapper no-footer">
      <table class="wb-tables tbl-gridify dataTable no-footer"
             id="dataset-filter"
             data-wb-tables='{"order": [0, "asc"], "columnDefs": [{"targets": [4,5,6,7,8], "visible": false}], "paging": true, "lengthMenu": [12,24,48,96]}'
             role="grid"
             style="width: 0px;">
        <thead>
          <tr>
            <th>{{ site.data.i18n.tables.design[page.lang] }}</th>
            <th>{{ site.data.i18n.tables.description[page.lang] }}</th>
            <th>{{ site.data.i18n.tables.licence[page.lang] }}(s)</th>
            <th>{{ site.data.i18n.tables.designType[page.lang] }}</th>
            <th>{{ site.data.i18n.tables.usage[page.lang] }}</th>
            <th>{{ site.data.i18n.tables.homepage[page.lang] }}</th>
            <th>{{ site.data.i18n.tables.designStatus[page.lang]}}</th>
            <th>{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</th>
            <th>{{ site.data.i18n.tables.administration[page.lang] }}</th>
          </tr>
        </thead>
        <tbody class="row wb-eqht">
          {%- for designs in site.data.design -%}
            {%- assign design = designs[1] -%}
            <tr class="col-xs-12 col-sm-6 col-md-4" style="vertical-align: top; min-height: 350px;">
              <td><a href="#{{ design.name[page.lang] | slugify: "latin" }}" aria-controls="{{ design.name[page.lang] | slugify: "latin" }}" class="overlay-lnk" role="button">{{ design.name[page.lang] }}</a></td>
              <td>{{ design.description.whatItDoes[page.lang] }}</td>
              <td>
                {%- for licence in design.licences -%}
                  <a href="{{ licence.URL[page.lang] }}" target="_blank">{{ licence.spdxID }}</a>&nbsp;
                {%- endfor -%}
              </td>
              <td>
                {%- assign type_arr = "" | split: ',' -%}
                {%- for ntype in design.designTypes -%}
                  {%- assign type_arr = type_arr | push: ntype -%}
                {%- endfor -%}
                {%- assign type_arr = type_arr | uniq -%}
                {%- for dtype in type_arr -%}
                  <p>{{ dtype.type[page.lang] }}</p>
                {%- endfor -%}
              </td>
              <td>{{ design.administrations.size }}</td>
              <td><a href="{{ design.homepageURL[page.lang] }}" target="_blank">{{ design.homepageURL[page.lang] | remove: "https://" | rstrip }}</a></td>
              <td>{{ design.designStatus[page.lang] }}</td>
              <td>
                {%- for administration in design.administrations -%}
                {%- for levels in site.data.i18n.administrations -%}
                  {%- assign govLevel = levels[0] -%}
                    {%- assign admin = site.data.administrations[govLevel] | where: "code": administration.adminCode -%}
                    {%- if admin[0] != nil -%}
                    {{ site.data.i18n.administrations[govLevel].value }}&nbsp;
                    {%- endif -%}
                  {%- endfor -%}
                {% endfor %}
              </td>
              <td>
              {%- for administration in design.administrations -%}
                {{ administration.adminCode }}&nbsp;
              {%- endfor -%}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
      </div>
    </div>

    <!-- Modal Lightboxes -->
    {%- for designs in site.data.design -%}
      {%- assign design = designs[1] -%}
        <section id="{{ design.name[page.lang] | slugify: "latin" }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
          <header class="modal-header">
            <h2 class="modal-title">{{ design.name[page.lang] }}</h2>
          </header>
          <div class="modal-body">
            <p><strong>Description:</strong></p>
            <p>{{ design.description.whatItDoes[page.lang] }}</p>
            <p><strong>{{ site.data.i18n.tables.designType[page.lang] }}:</strong></p>
            <ul>
              {%- assign type_arr = "" | split: ',' -%}
                {%- for ntype in design.designTypes -%}
                  {%- assign type_arr = type_arr | push: ntype -%}
                {%- endfor -%}
                {%- assign type_arr = type_arr | uniq -%}
                {%- for dtype in type_arr -%}
                  <li>{{ dtype.type[page.lang] }}</li>
                {%- endfor -%}
            </ul>
            <table class="table">
            <thead>
            <tr>
                <th><strong>{{ site.data.i18n.tables.lightbox.beingUsed[page.lang] }}</strong></th>
                <th><strong>Contact:</strong></th>
            </tr>
            </thead>
            <tbody>
            {%- for administration in design.administrations -%}
              <tr>
                <td>
                  {%- for levels in site.data.i18n.administrations -%}
                    {%- assign govLevel = levels[0] -%}
                    {%- assign admin = site.data.administrations[govLevel] | where: "code", administration.adminCode -%}
                    {{ admin[0].name[page.lang] }}
                  {%- endfor -%}
                </td>
                <td>
                {%- for use in administration.uses -%}
                  {{ use.contact.email }}<br />
                {%- endfor -%}
                </td>
              </tr>
            {%- endfor -%}
            </tbody>
            </table>
            <p><strong>{{ site.data.i18n.tables.homepage[page.lang] }}</strong>: <a href="{{ design.homepageURL[page.lang] }}">{{ design.homepageURL[page.lang] }}</a></p>
            {%- if design.designStatus != nil -%}
              <p><strong>{{ site.data.i18n.tables.designStatus[page.lang] }}</strong>: {{ design.designStatus[page.lang] }}</p>
            {%- endif -%}
          </div>
        </section>
    {%- endfor -%}

    </div>

