</main>

<div class="container mrgn-tp-xl mrgn-bttm-xl">
  <div class="pageDetails">
    <div class="row">
      <div class="btn-group btn-group-lg col-md-9 col-lg-8 col-sm-9">
        <a href="https://github.com/canada-ca/ore-ero/issues" class="btn btn-default" role="button">{{ site.data.i18n.general.footer.reportProblem[page.lang]}}</a>
        <a href="https://github.com/canada-ca/ore-ero/tree/master/{{page.path}}" class="btn btn-default" role="button"> {{ site.data.i18n.general.footer.sourceCode[page.lang]}} </a>
      </div>
      <div class="wb-share col-md-3 col-sm-3  col-lg-offset-1" data-wb-share='{"lnkClass": "btn btn-default btn-block"}'></div>
    </div>
  </div>
</div>

<footer id="wb-info">
  <!--<nav class="container wb-navcurr">
    <h2 class="wb-inv">{{ site.data.i18n.general.footer.AboutGovernment[page.lang] }}</h2>
    ...
  </nav>-->
  <div class="brand">
    <div class="container">
      <div class="row">
        <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
          <h2 class="wb-inv">{{ site.data.i18n.general.footer.AboutSite[page.lang] }}</h2>
          <ul>
            <li><a href="{{ site.data.i18n.general.footer.Nav.Canada[page.lang].link }}" target="_blank">{{ site.data.i18n.general.footer.Nav.Canada[page.lang].title }}</a></li>
            <li><a href="{{ site.data.i18n.general.footer.Nav.Terms[page.lang].link }}" target="_blank">{{ site.data.i18n.general.footer.Nav.Terms[page.lang].title }}</a></li>
            <li><a href="{{ site.data.i18n.general.footer.Nav.Privacy[page.lang].link }}" target="_blank">{{ site.data.i18n.general.footer.Nav.Privacy[page.lang].title }}</a></li>
          </ul>
        </nav>
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">{{ site.data.i18n.general.footer.TopOfPage[page.lang] }} <span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-right">
          <object type="image/svg+xml" tabindex="-1" role="img" data="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/wmms-blk.svg" aria-label="{{ site.data.i18n.general.footer.Logo[page.lang] }}"></object>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/theme.min.js"></script>
<script src="../assets/js/lib/js-yaml.js"></script>
<script src="../assets/js/src/deep-object.js"></script>
<script src="../assets/js/src/git-file-manager.js"></script>
<script src="../assets/js/src/custom-form-validation.js"></script>
<script src="../assets/js/src/validation.js"></script>
<script src="../assets/js/src/tags.js"></script>
<script src="../assets/js/src/programmingLanguages.js"></script>
<script src="../assets/js/src/more-group.js"></script>
<script src="../assets/js/src/date.js"></script>
<script src="../assets/js/src/slugify.js"></script>
{%- if page.ref == "adminForm" -%}
<script src="../assets/js/src/adminForm.js"></script>
{%- endif -%}
{%- if page.ref == "codeForm" -%}
<script src="../assets/js/src/adminForm.js"></script>
<script src="../assets/js/src/partners.js"></script>
<script src="../assets/js/src/codeForm.js"></script>
{%- endif -%}
{%- if page.ref == "standardForm" -%}
<script src="../assets/js/src/adminForm.js"></script>
<script src="../assets/js/src/standardForm.js"></script>
{%- endif -%}
{%- if page.ref == "softwareForm" -%}
<script src="../assets/js/src/adminForm.js"></script>
<script src="../assets/js/src/softwareForm.js"></script>
{%- endif %}
{%- if page.ref == "designForm" -%}
<script src="../assets/js/src/adminForm.js"></script>
<script src="../assets/js/src/designForm.js"></script>
<script src="../assets/js/src/designType.js"></script>
{%- endif %}
{%- if page.ref == "partnershipForm" -%}
<script src="../assets/js/src/adminForm.js"></script>
<script src="../assets/js/src/partners.js"></script>
<script src="../assets/js/src/partnershipForm.js"></script>
{%- endif -%}
<script>
  const REPO_NAME = "{{ site.github_repository }}";
  const USERNAME = "{{ site.github_username }}";
  const PRBOT_URL = "{{ site.prbot_url }}";
</script>
