</main>

{% if page.lang == 'fr' %}
<footer id="wb-info">
  <!--<nav class="container wb-navcurr">
    <h2 class="wb-inv">Au sujet du gouvernement</h2>
    ...
  </nav>-->
  <div class="brand">
    <div class="container">
      <div class="row">
        <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
          <h2 class="wb-inv">À propos du site</h2>
          <ul>
            <li><a href="https://www.canada.ca/fr.html" target="_blank">Canada.ca</a></li>
            <li><a href="https://www.canada.ca/fr/transparence/avis.html" target="_blank">Avis</a></li>
            <li><a href="https://www.canada.ca/fr/transparence/confidentialite.html" target="_blank">Confidentialité</a></li>
          </ul>
        </nav>
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-right">
          <object type="image/svg+xml" tabindex="-1" role="img" data="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/wmms-blk.svg" aria-label="Symbole du gouvernement du Canada"></object>
        </div>
      </div>
    </div>
  </div>
</footer>
{% else %}
<footer id="wb-info">
  <!--<nav class="container wb-navcurr">
    <h2 class="wb-inv">About government</h2>
    ...
  </nav>-->
  <div class="brand">
    <div class="container">
      <div class="row">
        <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
          <h2 class="wb-inv">About this site</h2>
          <ul>
            <li><a href="https://www.canada.ca/en.html" target="_blank">Canada.ca</a></li>
            <li><a href="https://www.canada.ca/en/transparency/terms.html" target="_blank">Terms and conditions</a></li>
            <li><a href="https://www.canada.ca/en/transparency/privacy.html" target="_blank">Privacy</a></li>
          </ul>
        </nav>
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-right">
          <img src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
        </div>
      </div>
    </div>
  </div>
</footer>
{% endif %}

<!--[if gte IE 9 | !IE ]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/theme.min.js"></script>
<script type="text/javascript" src="../assets/js/lib/yaml.min.js"></script>
<script type="text/javascript" src="../assets/js/src/deep-object.js"></script>
<script type="text/javascript" src="../assets/js/src/git-file-manager.js"></script>
<script type="text/javascript" src="../assets/js/src/index.js"></script>
<script type="text/javascript" src="../assets/js/src/custom-form-validation.js"></script>
<script>

  const REPO_NAME = "{{ site.github_repository }}";
  const USERNAME = "{{ site.github_username }}";
  const PRBOT_URL = "{{ site.prbot_url }}";

  var selectedAdminCode = "";
  var pathNameUrl = window.location.pathname;
  var enPathName = "/ore-ero/en/open-source-code-form.html";
  var pName = "";

  function addMoreLanguages(){
    $(`<div class="control-group input-group col-xs-2" style="margin-top:10px" >
          <input type="text" id="${'_' + Math.random().toString(36).substr(2, 9)}" name="language" data-for="languages" class="form-control" required="required">
          <div class="input-group-btn">
            <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-remove"></i></button>
          </div>
        </div>`).appendTo("#codeLanguages");

    $(document).ready(function() {
      $(this).parents(".control-group").remove();
    });
  }

  function addMoreTags(){
    $(`<label class="required" for="tag">{{ site.TagsCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>`).prependTo("#tagsEN");
    $(`<label class="required" for="tag">{{ site.TagsCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>`).prependTo("#tagsFR");

    $(`<div class="input-group control-group after-add-more col-xs-2">
        <button class="btn btn-primary add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add more tags</button>
       </div>`).insertAfter("#tags");

    $(`<div class="copy hide">
        <div class="control-group input-group col-xs-2" style="margin-top:10px" >
          <input type="text" id="tag" name="tag" class="form-control" required="required">
          <div class="input-group-btn">
            <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-remove"></i></button>
          </div>
        </div>
       </div>`).appendTo("#tags");

    $(document).ready(function() {
      $(".add-more").click(function(){
          var html = $(".copy").html();
          $(html).appendTo("#tagsEN");
          $(html).appendTo("#tagsFR");
      });

      $("body").on("click",".remove",function(){ 
          $(this).parents(".control-group").remove();
      });
    });
  }

  function buildProjectField(project){
    (pathNameUrl == enPathName) ? 
    $('<option label="' + project.name[ "en"] + '" value="' + project.name["en"] + '"></option>').appendTo("#listProjects"):
    $('<option label="' + project.name[ "fr"] + '" value="' + project.name["fr"] + '"></option>').appendTo("#listProjects");
  }

  function checkExistingData(project){
    if(project.contact.URL === undefined)project.contact.URL = "";

    if(project.downloadURL === undefined) project.downloadURL = "";

    if(project.homepageURL === undefined) project.homepageURL = "";

    if(project.organization === undefined) project.organization = "";

    if(project.partners === undefined) project.partners = [];
    if(project.partners.URL === undefined) project.partners.URL = "";
    if(project.partners.name === undefined) project.partners.name = "";

    if(project.relatedCode === undefined) {
      project.relatedCode = [];
      project.relatedCode[0] = [];
      project.relatedCode[0].URL = "";
      project.relatedCode[0].name = "";
    } 
  }

  function fillFields(project){

    checkExistingData(project)
    var date = new Date();
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();
    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;
    var today = year + "-" + month + "-" + day;       

    var datas_form = {
      "shemaVersion" : "1.0",
      "selectedPro" : pName,
      "enUrlContact" : project.contact.URL["en"],
      "frUrlContact" : project.contact.URL["fr"],
      "emailContact" : project.contact.email,
      "nameContact" : project.contact.name,
      "phone" : project.contact.phone,
      "dateCreated" : project.date.created,
      "dateLastModified" : project.date.lastModified,
      "dateLastUpdated" : today,
      
      "enDescription" : project.description["en"],
      "frDescription" : project.description["fr"],
      
      "enDownloadUrl" : project.downloadURL["en"],
      "frDownloadUrl" : project.downloadURL["fr"],

      "enHomepageURL" : project.homepageURL["en"],
      "frHomepageURL" : project.homepageURL["fr"],

      "enProjectName" : project.name["en"],
      "frProjectName" : project.name["fr"],

      "enOrganization" : project.organization["en"],
      "frOrganization" : project.organization["fr"],

      "enUrlPartner" : project.partners.URL["en"],
      "frUrlPartner" : project.partners.URL["fr"],
      "emailPartner" : project.partners.email,
      "enNamePartner" : project.partners.name["en"],
      "frNamePartner" : project.partners.name["fr"],

      "enUrlLicense" : project.licenses[0].URL["en"],
      "frUrlLicense" : project.licenses[0].URL["fr"],
      "spdxID" : project.licenses[0].spdxID,

      "enRepoUrl" : project.repositoryURL["en"],
      "frRepoUrl" : project.repositoryURL["fr"],

      "enUrlRelatedCode" : project.relatedCode[0].URL["en"],
      "frUrlRelatedCode" : project.relatedCode[0].URL["fr"],
      "enNameRelatedCode" : project.relatedCode[0].name["en"],
      "frNameRelatedCode" : project.relatedCode[0].name["fr"],

      "vcs" : project.vcs,
      "versionProject" : project.version
    }
    
    $("#validation").find('input').val(function(){
      if (!datas_form[this.id] && this.type === 'checkbox') {
        return this.value;
      }
      return datas_form[this.id];
    });

    $("#status").val(project.status);

    if(project.languages !== undefined){
      project.languages.forEach(function(language){
        $('.' + language).attr('checked', true);
      })
    }

    if(project.tags !== undefined){
      project.tags["en"].forEach(function(tag){
        $(`<div class="control-group input-group col-xs-2" style="margin-top:10px" >
            <input type="text" id="tag" name="enTag" value="${tag}" class="form-control" required="required">
            <div class="input-group-btn"> 
             <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-remove"></i></button>
           </div>
          </div>`).appendTo("#tagsEN");
      })

      project.tags["fr"].forEach(function(tag){
        $(`<div class="control-group input-group col-xs-2" style="margin-top:10px" >
            <input type="text" id="tag" name="tag" value="${tag}" class="form-control" required="required">
            <div class="input-group-btn"> 
             <button class="btn btn-default remove" type="button"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
           </div>`).appendTo("#tagsFR");
      })
    }
  }

  function displayListOrgProject(organization){
    (pathNameUrl == enPathName)?
    $('<label for="selectedPro">Select a project </label> <input class="form-control" id="selectedPro" name="selectedPro" type="text" list="listProjects"/><datalist id = "listProjects"></datalist>').appendTo("#selectedProject"): 
    $('<label for="selectedPro">Sélectionner un projet </label> <input class="form-control" id="selectedPro" name="selectedPro" type="text" list="listProjects"/><datalist id = "listProjects"></datalist>').appendTo("#selectedProject");

    organization.releases.forEach(function(project){    
      buildProjectField(project);
    });
  }

  function getProjectFields(organization){
    pName = $("#selectedPro").val();
    organization.releases.forEach(function(project){    
      if(project.name["en"] == pName || project.name["fr"] == pName) fillFields(project);
    });
  }

  $(document).ready(function() {
    addMoreTags();
  });

  $(document).ready(function(){
    $("#adminCode").change(function(){
      $.getJSON("https://canada-ca.github.io/ore-ero/code.json", function(result){
   
        $('#selectedProject').empty();
        selectedAdminCode = $("#adminCode").val();

        var federal = result.federal[selectedAdminCode];
        var provincial = result.provincial[selectedAdminCode];
        var municipal = result.municipal[selectedAdminCode];
       
        if( municipal !== undefined){
            displayListOrgProject(municipal);
        } else if( provincial !== undefined){
            displayListOrgProject(provincial);
        } else if( federal !== undefined){
            displayListOrgProject(federal);
        }
      
        $('#selectedPro').focus();
        
        $('#selectedPro').change(function(){

          $("#tagsEN").find('.control-group').detach();
          $("#tagsFR").find('.control-group').detach();

          if( municipal !== undefined){
              getProjectFields(municipal);        
          } else if( provincial !== undefined){
              getProjectFields(provincial);
          } else if( federal !== undefined){
              getProjectFields(federal);
          }
          
        });
      });
    });
  });
</script>
