<h2>{{ site.OrganizationCodeDesc[page.lang] }}</h2>
<div class="form-group">
  <label for="enOrganization">{{ site.OrganizationCodeEN[page.lang] }}</label>
  <input class="form-control" id="enOrganization" name="enOrganization" type="text" data-rule-alphanum-space-en-fr="true"/>
</div>
<div class="form-group">
  <label for="frOrganization">{{ site.OrganizationCodeFR[page.lang] }}</label>
  <input class="form-control" id="frOrganization" name="frOrganization" type="text" data-rule-alphanum-space-en-fr="true"/>
</div>