<h2>{{ site.RepositoryURLCodeDesc[page.lang] }}</h2>
<div class="form-group">
  <label for="enRepoUrl" class="required">{{ site.RepositoryURLCodeEN[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
  <input class="form-control" id="enRepoUrl" name="enRepoUrl" type="url" required="required"/>
</div>
<div class="form-group">
  <label for="frRepoUrl" class="required">{{ site.RepositoryURLCodeFR[page.lang] }} <strong class="required">({{ site.MandatoryField[page.lang] }})</strong></label>
  <input class="form-control" id="frRepoUrl" name="frRepoUrl" type="url" required="required"/>
</div>
