<h2>{{ site.LanguagesDesc[page.lang] }}</h2>
<label>{{ site.LanguagesName[page.lang] }}</label>
{% assign languages_array = "" | split: "," %}
{% for fptms in site.data.code %}
{% assign fptm = fptms[1] %}
{% for admins in fptm %}
  {% assign admin = admins[1] %}
  {% for release in admin.releases %}
    {% for language in release.languages %}
      {% assign languages_array = languages_array  | push: language %}
    {% endfor %}
  {% endfor %}
  {% endfor %}
{% endfor %}

{% assign languages_array = languages_array | uniq  %}
{% for language in languages_array %}
  <div class="checkbox" >
    <label><input class="{{ language }}" type="checkbox" value="{{ language }}" name="{{ language }}"> {{ language  }} </label>
  </div>
{% endfor %}

<div id="codeLanguages" class="form-group"></div>
<button type="button" class="btn btn-primary" onclick = "addMoreLanguages()">{{ site.AddMoreLanguages[page.lang] }}</button>
