<ul id="wb-tphp">
  <li class="wb-slc">
    <a class="wb-sl" href="#wb-cont">{{ site.SkipToMain[page.lang] }}</a>
  </li>
  <li class="wb-slc visible-sm visible-md visible-lg">
    <a class="wb-sl" href="#wb-info">{{ site.SkipToAbout[page.lang] }}</a>
  </li>
</ul>
<header>
  <div id="wb-bnr" class="container">
    <section id="wb-lng" class="visible-md visible-lg text-right">
      <h2 class="wb-inv">{{ site.LanguageSelection[page.lang] }}</h2>
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline margin-bottom-none">
            {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
            {% for my_post in posts %}
              {% if my_post.lang != page.lang %}
                <li><a lang="{{ my_post.lang }}" hreflang="{{ my_post.lang }}" href="{{ my_post.url | prepend: '..' }}">{{ site.language[my_post.lang] }}</a></li>
              {% endif %}
            {% endfor %}  

            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for my_page in pages %}
              {% if my_page.lang != page.lang %}
                <li><a lang="{{ my_page.lang }}" hreflang="{{ my_page.lang }}" href="{{ my_page.url | prepend: '..' }}">{{ site.language[my_page.lang] }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <div class="row">
      <div class="brand col-xs-8 col-sm-9 col-md-6">
        <a href="https://www.canada.ca/en.html">
          <img src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/assets/sig-blk-{{ page.lang }}.svg" alt="Government of Canada / Gouvernement du Canada">
          <span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
        </a>
      </div>

      <section class="wb-mb-links col-xs-4 col-sm-3 visible-sm visible-xs" id="wb-glb-mn">
        <h2>{{ site.SearchAndMenus[page.lang] }}</h2>
        <ul class="list-inline text-right chvrn">
          <li><a href="#mb-pnl" title="{{ site.SearchAndMenus[page.lang] }}" aria-controls="mb-pnl" class="overlay-lnk" role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">{{ site.SearchAndMenus[page.lang] }}</span></span></a></li>
        </ul>
        <div id="mb-pnl"></div>
      </section>
    </div>
  </div>

  <nav id="wb-sm" data-ajax-replace="https://cdn.canada.ca/gcweb-cdn-live/sitemenu/sitemenu-{{ page.lang }}.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar">
      <h2>{{ site.TopicsMenu[page.lang] }}</h2>
      <div class="row"></div>
    </div>
  </nav>

  <nav id="wb-bc" property="breadcrumb">
    <h2>{{ site.YouAreHere[page.lang] }}:</h2>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li><a href="https://www.canada.ca/{{ page.lang }}.html">{{ site.home[page.lang] }}</a></li>
          {% if page.ref != "home" %}
            {% if page.lang == "en" %}
              <li><a href="./index.html">{{ site.title[page.lang] }}</a></li>
            {% else %}
              <li><a href="./index.html">{{ site.title[page.lang] }}</a></li>
            {% endif %}
          {% endif %}

          {% if page.ref == "codeGroups" or page.ref == "codeSchema" %}
            {% if page.lang == "en" %}
              <li><a href="./open-source-code.html">{{ site.OpenSourceCode[page.lang] }}</a></li>
            {% else %}
              <li><a href="./code-source-ouvert.html">{{ site.OpenSourceCode[page.lang] }}</a></li>
            {% endif %}
          {% endif %}

        </ol>
      </div>
    </div>
  </nav>
</header>

<main property="mainContentOfPage" class="container">
