<ul class="list-unstyled">
  {% include schema/schemaVersion.html %}

  {% include schema/description.html %}

  {% include schema/homepageURL.html %}

  {% include schema/licenses.html %}

  {% include schema/projectName.html %}

  {% include schema/tags.html %}

  <li>
    <details open>
      <summary>administrations <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
      <p>site administrations descriptions</p>
      <ul class="list-unstyled">
        {% include schema/adminCode.html %}

        <li>
          <details open>
            <summary>uses <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
            <p>Informations about software users.</p>
            <ul class="list-unstyled">
              {% include schema/contact.html %}

              {% include schema/date.html created=true modified=false metadata=true %}

              <li>
                <details open>
                  <summary>name <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
                  <h5>{{ site.NameUsesOss[page.lang] }}</h5>
                  <p>{{ site.NameUsesOssDesc[page.lang] }}</p>
                  <ul>
                    <li>{{ site.NameEN[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
                    <li>{{ site.NameFR[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
                  </ul>
                </details>
              </li>

              <li>
                <details open>
                  <summary>description <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
                  <h5> {{ site.DescriptionUsesOss[page.lang] }} </h5>
                  <p>{{ site.DescriptionUsesOssDesc[page.lang] }}</p>
                  <ul>
                    <li>{{ site.DescriptionEN[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
                    <li>{{ site.DescriptionFR[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
                  </ul>
                </details>
              </li>

              {% include schema/relatedCode.html %}

              {% include schema/status.html %}
            </ul>
          </details>
        </li>
      </ul>
    </details>
  </li>
</ul>
