<div class="row">

<!-- Filters -->
<div class="col-md-3">
  <details open>
    <summary><h4 class="h4">Filter Options</h4></summary>
    <form class="wb-tables-filter" data-bind-to="dataset-filter">
      
      <div class="form-group">
        <label for="dt_licence">Licence</label>
        <select class="form-control" id="dt_licence" name="dt_licence" data-column="2">
          <option value="">&nbsp;</option>
          {% assign license_array = "" | split: ',' %}
          {% for logiciels in site.data.logiciels_libres-open_source_software %}
            {% assign oss = logiciels[1] %}
            {% for license in oss.licenses %}
              {% assign license_array = license_array | push: license %}
            {% endfor %}
          {% endfor %}
          {% assign license_array = license_array | group_by: "" | sort: "name" %}
          {% for license in license_array %}
            <option value="{{ license.name }}">{{ license.name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="dt_tag">Tag</label>
        <select class="form-control" id="dt_tag" name="dt_tag" data-column="3">
          <option value="">&nbsp;</option>
          {% assign tag_array = "" | split: ',' %}
          {% for logiciels in site.data.logiciels_libres-open_source_software %}
            {% assign oss = logiciels[1] %}
            {% for tag in oss.tags[page.lang] %}
              {% assign tag_array = tag_array | push: tag %}
            {% endfor %}
          {% endfor %}
          {% assign tag_array = tag_array | group_by: "" | sort: "name" %}
          {% for tag in tag_array %}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">Filter</button>
        </div>
        <div class="col-xs-6">
          <button type="reset" class="btn btn-default">Clear</button>
        </div>
      </div>
      
    </form>
  </details>
</div>

<!-- Data Table -->
<div class="col-md-9">
  <table class="wb-tables table table-striped table-hover" id="dataset-filter" data-wb-tables='{"order": [0, "asc"], "columnDefs": [{"targets": [3,5], "visible": false}], "paging": true}'>
    <thead>
      <tr>
        <th>Software</th>
        <th>Description</th>
        <th>Licence</th>
        <th>Tags</th>
        <th>Usage</th>
        <th>Homepage</th>
      </tr>
    </thead>
    <tbody>
      
      {% for logiciels in site.data.logiciels_libres-open_source_software %}
        {% assign oss = logiciels[1] %}
        <tr>
          <td><a href="#{{ oss.name[page.lang] | slugify }}" aria-controls="{{ oss.name[page.lang] | slugify }}" class="overlay-lnk" role="button">{{ oss.name[page.lang] }}</a></td>
          <td>{{ oss.description[page.lang] }}</td>
          <td>
            {% for license in oss.licenses %}
              <a href="https://choosealicense.com/licenses/{{ license | downcase }}/" target="_blank">{{ license }}</a>&nbsp;
            {% endfor %}
          </td>
          <td>
            {% for tag in oss.tags[page.lang] %}
              {{ tag }}&nbsp;
            {% endfor %}
          </td>
          <td>{{ oss.admininstrations.size }}</td>
          <td>
            <a href="{{ oss.homepageURL[page.lang] }}" target="_blank">{{ oss.homepageURL[page.lang] | remove: "https://" | rstrip }}</a>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

<!-- Modal Lightboxes -->
{% for logiciels in site.data.logiciels_libres-open_source_software %}
  {% assign oss = logiciels[1] %}
  
    <section id="{{ oss.name[page.lang] | slugify }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
      <header class="modal-header">
        <h2 class="modal-title">{{ oss.name[page.lang] }}</h2>
      </header>
      <div class="modal-body">
        <p><strong>{{ oss.description[page.lang] }}</strong></p>
        <p>Is being used by:</p>
        {% for admin in oss.admininstrations %}
          <div class="row">
            {% assign aName = site.data.administrations.federal | where: "code", admin.adminCode %}
            <div class="col-md-7">
              <strong>{{ aName[0].name[page.lang] }}</strong>
            </div>
            {% for use in admin.uses %}
              {% if use.contact.email != nil %}
                <div class="col-md-5">{{ use.contact.email }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
        
        <!--<p>{{ oss }}</p>-->
      </div>
    </section>

{% endfor %}

</div>
















