<div class="row">

<!-- Filters -->
<div class="col-md-3">
  <details open>
    <summary><h4 class="h4">{{ site.data.i18n.tables.filterOptions[page.lang] }}</h4></summary>
    <form class="wb-tables-filter" data-bind-to="dataset-filter">
      <div class="form-group">
        <label for="dt_govLevel">{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</label>
        <select class="form-control" id="dt_govLevel" name="dt_govLevel" data-column="7">
          <option value="">&nbsp;</option>
          {%- for govLevel in site.data.i18n.administrations -%}
          <option value="{{ govLevel[1].value }}">{{ govLevel[1][page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group hide">
        <label for="dt_department">{{ site.data.i18n.tables.administrations[page.lang] }}</label>
        <select class="form-control" id="dt_department" name="dt_department" data-column="8">
          <option value="">&nbsp;</option>
          {%- assign municipal_arr = "" | split: ',' -%}
          {%- assign provincial_arr = "" | split: ',' -%}
          {%- assign federal_arr = "" | split: ',' -%}
          {%- assign aboriginal_arr = "" | split: ',' -%}
          {%- assign other_arr = "" | split: ',' -%}
          {%- assign level = 0 -%}
          {%- assign partnership = site.data.partnership -%}
          {%- if partnership != nil -%}
            {%- assign partnership = partnership | sort -%}
          {%- endif -%}
          {%- for govLevels in partnership -%}
            {%- assign govLevel = govLevels[0] -%}
            {% for admin in govLevels[1] %}
            {%- assign administration = site.data.administrations[govLevel] | where: "code", admin[0] -%}
            {%- if administration[0] != nil -%}
              {%- case level -%}
              {%- when 0 -%}
                {%- assign aboriginal_arr = aboriginal_arr | push: administration[0]-%}
              {%- when 1 -%}
                {%- assign federal_arr = federal_arr | push: administration[0]-%}
              {%- when 2 -%}
                {%- assign municipal_arr = municipal_arr | push: administration[0]-%}
              {%- when 3 -%}
                {%- assign other_arr = other_arr | push: administration[0]-%}
              {%- when 4 -%}
                {%- assign provincial_arr = provincial_arr | push: administration[0]-%}
              {%- endcase -%}
            {%- endif -%}
            {%- endfor -%}
            {%- assign level = level | plus:1 -%}
          {%- endfor -%}
          {%- assign federal_arr = federal_arr | uniq -%}
          {%- assign provincial_arr = provincial_arr | uniq -%}
          {%- assign municipal_arr = municipal_arr | uniq -%}
          {%- assign aboriginal_arr = aboriginal_arr | uniq -%}
          {%- assign other_arr = other_arr | uniq -%}
          {%- assign id = 1 -%}
          {%- for federal in federal_arr -%}
            <option class="hide" id="{{id}}" value="{{federal.name[page.lang]}}" data-level="federal">{{federal.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for provincial in provincial_arr -%}
            <option class="hide" id="{{id}}" value="{{provincial.name[page.lang]}}" data-level="provincial">{{provincial.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for municipal in municipal_arr -%}
            <option class="hide" id="{{id}}" value="{{municipal.name[page.lang]}}" data-level="municipal">{{municipal.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for aboriginal in aboriginal_arr -%}
            <option class="hide" id="{{id}}" value="{{aboriginal.name[page.lang]}}" data-level="aboriginal">{{aboriginal.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
          {%- for other in other_arr -%}
            <option class="hide" id="{{id}}" value="{{other.name[page.lang]}}" data-level="others">{{other.name[page.lang]}}</option>
            {%- assign id = id | plus: 1 -%}
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_team">{{ site.data.i18n.tables.team[page.lang] }}</label>
        <select class="form-control" id="dt_team" name="dt_team" data-column="5">
          <option value="">&nbsp;</option>
          {%- assign team_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.partnership -%}
            {%- for admin in govLevels[1] -%}
              {%- for project in admin[1].projects -%}
                {%- if project.team[page.lang] != nil -%}
                  {%- assign team_arr = team_arr | push: project.team[page.lang] -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign team_arr = team_arr | group_by: "" | sort: "name" -%}
          {%- for team in team_arr -%}
            <option value="{{ team.name }}">{{ team.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_category">{{ site.data.i18n.tables.category[page.lang] }}</label>
        <select class="form-control" id="dt_category" name="dt_category" data-column="2">
          <option value="">&nbsp;</option>
          {%- assign cat_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.partnership -%}
            {%- for admin in govLevels[1] -%}
              {%- for project in admin[1].projects -%}
                {%- if project.category != nil -%}
                  {%- assign cat_arr = cat_arr | push: project.category -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign cat_arr = cat_arr | uniq -%}
          {%- for cat in cat_arr -%}
            <option value="{{ site.data.i18n.categories[cat][page.lang] }}">{{ site.data.i18n.categories[cat][page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_tag">{{ site.data.i18n.tables.tag[page.lang] }}</label>
        <select class="form-control" id="dt_tag" name="dt_tag" data-column="6">
          <option value="">&nbsp;</option>
          {%- assign tag_arr = "" | split: ',' -%}
          {%- for govLevels in site.data.partnership -%}
            {%- for admin in govLevels[1] -%}
              {%- for project in admin[1].projects -%}
                {%- for tag in project.tags[page.lang] -%}
                  {%- assign tag_arr = tag_arr | push: tag -%}
                {%- endfor -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign tag_arr = tag_arr | group_by: "" | sort: "name" -%}
          {%- for tag in tag_arr -%}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">{{ site.data.i18n.tables.filter[page.lang] }}</button>
        </div>
        <div class="col-xs-6">
          <button type="reset" class="btn btn-default">{{ site.data.i18n.tables.clear[page.lang] }}</button>
        </div>
      </div>
    </form>
  </details>
</div>

<!-- Data Table -->
<div class="col-md-9 mrgn-bttm-lg">
  <div id="designlayout_wrapper" class="dataTables_wrapper no-footer">
  <table class="wb-tables tbl-gridify dataTable no-footer"
         id="dataset-filter"
         data-wb-tables='{"order": [0, "asc"], "columnDefs": [{"targets": [3,5,6,7,8], "visible": false}], "paging": true, "lengthMenu": [12,24,48,96]}'
         role="grid"
         style="width: 0px;">
    <thead>
      <tr>
        <th>{{ site.data.i18n.tables.partnership[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.description[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.category[page.lang] }}</th>
        <th>{{ site.data.i18n.form.partnership.date.labels.started[page.lang] }}</th>
        <th>{{ site.data.i18n.form.partnership.date.labels.closed[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.team[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.tag[page.lang] }}</th>
        <th>{{ site.data.i18n.form.presets.orgLevel.title[page.lang] }}</th>
        <th>{{ site.data.i18n.tables.administration[page.lang] }}</th>
      </tr>
    </thead>
    <tbody class="row wb-eqht">
    {%- for govLevels in site.data.partnership -%}
      {%- assign govLevel = govLevels[0] -%}
      {%- for admin in govLevels[1] -%}
        {%- for project in admin[1].projects -%}
        {%- assign project = projects[1] -%}
      <tr class="col-xs-12 col-sm-6 col-md-4" style="vertical-align: top; min-height: 350px;">
        <td><a href="#{{ project.name[page.lang] | slugify: "latin" }}" aria-controls="{{ project.name[page.lang] | slugify: "latin" }}" class="overlay-lnk" role="button">{{ project.name[page.lang] }}</a></td>
        <td>{{ project.description.whatItDoes[page.lang] }}</td>
        <td>{{ site.data.i18n.categories[project.category][page.lang] }}</td>
        <td>{{ project.date.started }}</td>
        <td>{{ project.date.closed }}</td>
        <td>{{ project.team[page.lang] }}</td>
        <td>
          {%- for tag in project.tags[page.lang] -%}
            {{ tag }}&nbsp;
          {%- endfor -%}
        </td>
        <td>{{ site.data.i18n.administrations[govLevel].value }}</td>
        {%- assign administration = site.data.administrations[govLevel] | where: "code", admin[0].adminCode -%}
        <td>{{ administration[0].name[page.lang] }}</td>
      </tr>
        {%- endfor -%}
      {%- endfor -%}
    {%- endfor -%}
    </tbody>
  </table>
  </div>
</div>

{%- for govLevels in site.data.partnership -%}
  {%- assign govLevel = govLevels[0] -%}
  {%- for admin in govLevels[1] -%}
    {%- for project in admin[1].projects -%}
    {%- assign project = projects[1] -%}
<section id="{{ project.name[page.lang] | slugify: "latin" }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
  <header class="modal-header">
    <h2 class="modal-title">{{ project.name[page.lang] }}</h2>
  </header>
  <div class="modal-body">
    <p><strong>Description:</strong></p>
      <p>{{ project.description.whatItDoes[page.lang] }}</p>
      <p><strong>{{ site.data.i18n.tables.tag[page.lang] }}(s):</strong></p>
      <ul>
        {%- for tag in project.tags[page.lang] -%}
        <li>{{ tag }}</li>
        &nbsp; {%- endfor -%}
      </ul>
      {%- assign administration = site.data.administrations[govLevel] | where: "code", admin[0].adminCode -%}
      <p><strong>{{ site.data.i18n.tables.administration[page.lang] }}:</strong> {{ administration[0].name[page.lang] }}</p>
      <p><strong> Contact:</strong> <a href="mailto:{{ project.contact.email }}" target="_blank">{{ project.contact.email }}</a></p>
      <p><strong> {{ site.data.i18n.tables.project.searchPeriod.title[page.lang] }}</strong></p>
      <p> {{ site.data.i18n.tables.partnership.searchPeriod.beginning[page.lang] }} {{ project.date.started }} {{ site.data.i18n.tables.partnership.searchPeriod.end[page.lang] }} {{  project.date.closed }}</p>
    {%- if project.partners != nil -%}
      <p><strong>{{ site.data.i18n.tables.partners[page.lang] }}</strong></p>
      <ul>
      {%- for partner in project.partners -%}
        <li>
          {%- if partner.name -%}{{ partner.name }} :{%- endif -%}
          {%- if partner.email -%}<a href="mailto:{{ partner.email }}">{{ partner.email }}</a>{%- endif -%}
          {%- if partner.adminCode -%}
              {%- for partnerLevels in site.data.administrations -%}
                {%- assign partnerLevel = partnerLevels[0] -%}
                {%- assign adminPartner = site.data.administrations[partnerLevel] | where: "code", partner.adminCode -%}
                {%- if adminPartner[0].name[page.lang] != nil -%}
                    <p><strong>{{ site.data.i18n.tables.administration[page.lang] }}: </strong>{{ adminPartner[0].name[page.lang] }}</p>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
        </li>
      {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</section>
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}

</div>
