<div class="row">

<!-- Filters -->
<div class="col-md-3">
  <details open>
    <summary><h4 class="h4">{{ site.data.i18n.tables.filterOptions[page.lang] }}</h4></summary>
    <form class="wb-tables-filter" data-bind-to="dataset-filter">
      <div class="form-group">
        <label for="dt_govLevel">{{ site.data.i18n.tables.levelOfGovernment[page.lang] }}</label>
        <select class="form-control" id="dt_govLevel" name="dt_govLevel" data-column="6">
          <option value="">&nbsp;</option>
          {%- for govLevels in site.data.i18n.administrations -%}
          {%- assign govLevel = govLevels[1] -%}
          <option value="{{ govLevel.value }}">{{ govLevel[page.lang] }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_licence">Licence</label>
        <select class="form-control" id="dt_licence" name="dt_licence" data-column="2">
          <option value="">&nbsp;</option>
          {%- assign license_array = "" | split: ',' -%}
          {%- for softwares in site.data.software -%}
            {%- assign software = softwares[1] -%}
            {%- for license in software.licenses -%}
              {%- assign license_array = license_array | push: license.spdxID -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign license_array = license_array | group_by: "" | sort: "name" -%}
          {%- for license in license_array -%}
            <option value="{{ license.name }}">{{ license.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="form-group">
        <label for="dt_tag">Tag</label>
        <select class="form-control" id="dt_tag" name="dt_tag" data-column="3">
          <option value="">&nbsp;</option>
          {%- assign tag_array = "" | split: ',' -%}
          {%- for softwares in site.data.software -%}
            {%- assign software = softwares[1] -%}
            {%- for tag in software.tags[page.lang] -%}
              {%- assign tag_array = tag_array | push: tag -%}
            {%- endfor -%}
          {%- endfor -%}
          {%- assign tag_array = tag_array | group_by: "" | sort: "name" -%}
          {%- for tag in tag_array -%}
            <option value="{{ tag.name }}">{{ tag.name }}</option>
          {%- endfor -%}
        </select>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary" aria-controls="dataset-filter">{{ site.data.i18n.tables.filter[page.lang] }}</button>
        </div>
        <div class="col-xs-6">
          <button type="reset" class="btn btn-default">{{ site.data.i18n.tables.clear[page.lang] }}</button>
        </div>
      </div>

    </form>
  </details>
</div>

<!-- Data Table -->
<div class="col-md-9 mrgn-bttm-lg">
  <table class="wb-tables table table-striped table-hover" id="dataset-filter" data-wb-tables='{"order": [0, "asc"], "columnDefs": [{"targets": [3,5,6], "visible": false}], "paging": true}'>
    <thead>
      <tr>
        <!-- TODO: Translations, maybe use those from the form file -->
        <th>Software</th>
        <th>Description</th>
        <th>Licence</th>
        <th>Tags</th>
        <th>Usage</th>
        <th>Homepage</th>
        <th>Level of government</th>
      </tr>
    </thead>
    <tbody>

      {%- for softwares in site.data.software -%}
        {%- assign software = softwares[1] -%}
        <tr>
          <td><a href="#{{ software.name[page.lang] | slugify }}" aria-controls="{{ software.name[page.lang] | slugify }}" class="overlay-lnk" role="button">{{ software.name[page.lang] }}</a></td>
          <td>{{ software.description[page.lang] }}</td>
          <td>
            {%- for license in software.licenses -%}
              <a href="{{ license.URL[page.lang] }}" target="_blank">{{ license.spdxID }}</a>&nbsp;
            {%- endfor -%}
          </td>
          <td>
            {%- for tag in software.tags[page.lang] -%}
              {{ tag }}&nbsp;
            {%- endfor -%}
          </td>
          <td>{{ software.administrations.size }}</td>
          <td><a href="{{ software.homepageURL[page.lang] }}" target="_blank">{{ software.homepageURL[page.lang] | remove: "https://" | rstrip }}</a></td>
          <td>
            {% for administration in software.administrations %}
            {% assign aName = site.data.administrations.federal | where: "code", administration.adminCode %}
              {% if aName[0].name[page.lang] != nil %}
                {{ site.data.i18n.administrations.federal[page.lang] }}
              {% endif %}
            {% assign aName = site.data.administrations.provincial | where: "code", administration.adminCode %}
              {% if aName[0].name[page.lang] != nil %}
                {{ site.data.i18n.administrations.provincial[page.lang] }}
              {% endif %}
            {% assign aName = site.data.administrations.municipal | where: "code", administration.adminCode %}
              {% if aName[0].name[page.lang] != nil %}
                {{ site.data.i18n.administrations.municipal[page.lang] }}
              {% endif %}
            {% assign aName = site.data.administrations.aboriginal | where: "code", administration.adminCode %}
              {% if aName[0].name[page.lang] != nil %}
                {{ site.data.i18n.administrations.aboriginal[page.lang] }}
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {%- endfor -%}

    </tbody>
  </table>
</div>

<!-- Modal Lightboxes -->
{%- for softwares in site.data.software -%}
  {%- assign software = softwares[1] -%}

    <section id="{{ software.name[page.lang] | slugify }}" class="wb-overlay modal-content overlay-def wb-popup-mid">
      <header class="modal-header">
        <h2 class="modal-title">{{ software.name[page.lang] }}</h2>
      </header>
      <div class="modal-body">
        <p><strong>{{ software.description[page.lang] }}</strong></p>
        <p>Is being used by:</p>
        {%- for admin in software.administrations -%}
          <div class="row">
            {%- assign aNameFederal = site.data.administrations.federal | where: "code", admin.adminCode -%}
            {%- assign aNameProvincial = site.data.administrations.provincial | where: "code", admin.adminCode -%}
            {%- assign aNameMunicipal = site.data.administrations.municipal | where: "code", admin.adminCode -%}
            {%- assign aNameAboriginal = site.data.administrations.aboriginal | where: "code", admin.adminCode %}
            <div class="col-md-7">
              <strong>{{ aNameFederal[0].name[page.lang] }}</strong>
              <strong>{{ aNameProvincial[0].name[page.lang] }}</strong>
              <strong>{{ aNameMunicipal[0].name[page.lang] }}</strong>
              <strong>{{ aNameAboriginal[0].name[page.lang] }}</strong>
            </div>
            {%- for use in admin.uses -%}
              {%- if use.contact.email != nil -%}
                <div class="col-md-5">{{ use.contact.email }}</div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- endfor -%}
      </div>
    </section>

{%- endfor -%}

</div>
















