<h2>{{ site.data.i18n.form.presets.Date.title[page.lang] }}</h2>

{% capture label %}{{ site.data.i18n.form.presets.Date.labels.created[page.lang] }}{% endcapture %}
{% include form/components/group.html name="dateCreated" type="date" label=label rule="dateISO" %}

{% capture label %}{{ site.data.i18n.form.presets.Date.labels.modified[page.lang] }}{% endcapture %}
{% include form/components/group.html name="dateLastModified" type="date" label=label required=false rule="dateISO" %}

{% capture label %}{{ site.data.i18n.form.presets.Date.labels.updated[page.lang] }}{% endcapture %}
{% include form/components/group.html name="dateLastUpdated" type="date" label=label rule="dateISO" readonly=true %}
