{%- assign title = "date" -%}
{%- include form/components/title.html id=include.idPreset title=title -%}

{%- if include.param.created -%}
  {%- include form/components/group-group.html id=include.idPreset title=title group="created" type="date" rule="dateISO" -%}
{%- endif -%}

{%- if include.param.started -%}
  {%- include form/components/group-group.html id=include.idPreset title=title group="started" type="date" rule="dateISO" -%}
{%- endif -%}

{%- if include.param.modified -%}
  {%- include form/components/group-group.html id=include.idPreset title=title group="lastModified" type="date" rule="dateISO" required=false -%}
{%- endif -%}

{%- capture now %}{{ "now" | date: "%Y-%m-%d" }}{% endcapture -%}
{%- include form/components/group-group.html id=include.idPreset title=title group="metadataLastUpdated" type="date" rule="dateISO" readonly=true value=now -%}
