{%- assign title1 = "designType" -%}
{%- assign title2 = "newType" -%}
{%- if page.lang == "en" -%}
{%- assign lang1 = "en" -%}
{%- assign lang2 = "fr" -%}
{%- else -%}
{%- assign lang1 = "fr" -%}
{%- assign lang2 = "en" -%}
{%- endif -%}
<div class="add-more-group" id="addMore{{ title1 }}" data-title="{{ title1 }}">
  {% include form/components/title.html id=include.idPreset title=title1 -%}
  <div class="add-more-content">
    <div class="form-group" style="margin-bottom: 0;">
      <label for="{{ title1 }}"><span class="field-name">{{ site.data.i18n.form[include.idPreset][title1].label[page.lang] }}</span></label>
    </div>
    <div class = "form-group">
      <div class="form-group" style="display: flex;">
        <div class="{{ title1 }}Select more-group-id-replace">
            <select class="form-control" id="{{ title1 }}" name="{{ title1 }}" required="required">
              <option value="">&nbsp;</option>
              <!-- To fill later -->
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <!--               -->
              {%- for design in site.data.design -%}
                {%- for type in design.types -%}
                <option value="{{ type[1] }}">{{ type[1][page.lang] }}</option>
                {%- endfor %}
              {%- endfor %}
            </select>
          </div> 
        </div>
          <button id="newTypeButton" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-plus"></i> {{ site.data.i18n.form[include.idPreset][title2].button[page.lang] }}</button>
          <div id="newType" class="well hide">
          <button id="newTypeButtonRemove" class="btn btn-default mrgn-lft-md" id="cancelTypeButton" style="display: none;"><i class="glyphicon glyphicon-remove"></i></button>
            <div id="newType{{ lang1 | upcase }}" class="form-group">
                {% include form/components/label-i18n.html id=include.idPreset title=title2 lang=lang1 param=include.param %}
                <div class="control-group input-group col-xs-2 mrgn-tp-md">
                    <input type="text" id="{{ lang1 }}{{ title2 }}" name="{{ lang1 }}{{ title2 }}" class="form-control"{%- if include.param.required == nil or include.param.required %} required="required"{% endif %}>
                </div>
            </div>
            <div id="newType{{ lang2 | upcase }}" class="form-group">
                {% include form/components/label-i18n.html id=include.idPreset title=title2 lang=lang2 param=include.param %}
                <div class="control-group input-group col-xs-2 mrgn-tp-md">
                    <input type="text" id="{{ lang2 }}{{ title2 }}" name="{{ lang2 }}{{ title2 }}" class="form-control"{%- if include.param.required == nil or include.param.required %} required="required"{% endif %}>
                </div>
            </div>
          </div>

      </div>
    </div>
  </div>
