<h2>{{ site.data.i18n.form.presets.Languages.title[page.lang] }}</h2>
<div class="form-group">
  <label>{{ site.data.i18n.form.presets.Languages.label[page.lang] }}</label>
  {% assign languages_array = "" | split: "," %}
  {% for fptms in site.data.code %}
  {% assign fptm = fptms[1] %}
  {% for admins in fptm %}
    {% assign admin = admins[1] %}
    {% for release in admin.releases %}
      {% for language in release.languages %}
        {% assign languages_array = languages_array  | push: language %}
      {% endfor %}
    {% endfor %}
    {% endfor %}
  {% endfor %}

  <div id="codeLanguages" class="form-group">
    {% assign languages_array = languages_array | uniq  %}
    {% for language in languages_array %}
      <div class="checkbox" >
        <label><input class="{{ language }}" data-for="languages" type="checkbox" value="{{ language }}" name="{{ language }}"> {{ language  }} </label>
      </div>
    {% endfor %}
  </div>
  <button type="button" class="btn btn-primary" onclick = "addMoreLanguages()">{{ site.data.i18n.form.presets.Languages.add[page.lang] }}</button>
</div>
