{%- assign title = "licenses" -%}
<div class="add-more-group" id="addMore{{ title }}" data-title="{{ title }}">
{% include form/components/title.html id=include.id title=title -%}
<div class="add-more-content">
<div class="form-group" autocomplete="off">
    {% include form/components/label-group.html id=include.id title=title group="spdxID" %}
    <div class="autocomplete" style="width:300px;">
      <input class="form-control" id="{{ title }}spdxID" name="{{ title }}spdxID" type="text" placeholder="License" required="required">
    </div>
  </div>
{% include form/components/group-i18n-group.html id=include.id title=title group="URL" type="url" -%}
</div>
</div>
