{% assign title = "orgLevel" %}
{% include form/components/title.html id=include.id title=title -%}

<div class="form-group">
  {% include form/components/label.html id=include.id title=title %}
  <select class="form-control" id="{{ title }}" name="{{ title }}" required="required">
    <option value="">&nbsp;</option>
    <option value="{{ site.data.i18n.administrations.aboriginal.value }}">{{ site.data.i18n.administrations.aboriginal[page.lang] }}</option>
    <option value="{{ site.data.i18n.administrations.municipal.value }}" selected>{{ site.data.i18n.administrations.municipal[page.lang] }}</option>
    <option value="{{ site.data.i18n.administrations.provincial.value }}" disabled>{{ site.data.i18n.administrations.provincial[page.lang] }}</option>
    <option value="{{ site.data.i18n.administrations.federal.value }}" disabled>{{ site.data.i18n.administrations.federal[page.lang] }}</option>
  </select>
</div>
