<h2>{{ site.data.i18n.form.presets.OrgLevel.title[page.lang] }}</h2>
<div class="form-group">
  <label for="orgLevel" class="required">{{ site.data.i18n.form.presets.OrgLevel.label[page.lang] }} <strong class="required">({{ site.data.i18n.form.required[page.lang] }})</strong></label>
  <select class="form-control" id="orgLevel" name="orgLevel" required="required">
    <option value="">&nbsp;</option>
    <option value="federal" disabled>{{ site.data.i18n.form.presets.OrgLevel.options.federal[page.lang] }}</option>
    <option value="provincial" disabled>{{ site.data.i18n.form.presets.OrgLevel.options.provincial[page.lang] }}</option>
    <option value="municipal" selected>{{ site.data.i18n.form.presets.OrgLevel.options.municipal[page.lang] }}</option>
  </select>
</div>
