<h2>{{ site.data.i18n.form.presets.ProvinceCode.title[page.lang] }}</h2>
<div class="form-group">
  <label for="provinceCode">{{ site.data.i18n.form.presets.ProvinceCode.label[page.lang] }}</label>
  <select class="form-control" id="provinceCode" name="provinceCode">
    <option value="">&nbsp;</option>
    <option value="ab">{{ site.data.i18n.form.presets.ProvinceCode.options.ab[page.lang] }}</option>
    <option value="bc">{{ site.data.i18n.form.presets.ProvinceCode.options.bc[page.lang] }}</option>
    <option value="mb">{{ site.data.i18n.form.presets.ProvinceCode.options.mb[page.lang] }}</option>
    <option value="nb">{{ site.data.i18n.form.presets.ProvinceCode.options.nb[page.lang] }}</option>
    <option value="nl">{{ site.data.i18n.form.presets.ProvinceCode.options.nl[page.lang] }}</option>
    <option value="nt">{{ site.data.i18n.form.presets.ProvinceCode.options.nt[page.lang] }}</option>
    <option value="ns">{{ site.data.i18n.form.presets.ProvinceCode.options.ns[page.lang] }}</option>
    <option value="nu">{{ site.data.i18n.form.presets.ProvinceCode.options.nu[page.lang] }}</option>
    <option value="on">{{ site.data.i18n.form.presets.ProvinceCode.options.ont[page.lang] }}</option>
    <option value="pe">{{ site.data.i18n.form.presets.ProvinceCode.options.pe[page.lang] }}</option>
    <option value="qc">{{ site.data.i18n.form.presets.ProvinceCode.options.qc[page.lang] }}</option>
    <option value="sk">{{ site.data.i18n.form.presets.ProvinceCode.options.sk[page.lang] }}</option>
    <option value="yt">{{ site.data.i18n.form.presets.ProvinceCode.options.yt[page.lang] }}</option>
  </select>
</div>
