{%- assign title = "provinceSelect" -%}
{%- include form/components/title.html id=include.idPreset title=title -%}

<div class="form-group">

{%- include form/components/label.html id=include.idPreset title=title %}
  <select class="form-control" id="{{ title }}" name="{{ title }}" required="required">
    <option value="">&nbsp;</option>
    {%- for province in site.data.i18n.provinces -%}
    <option value="{{ province[1].value }}">{{ province[1][page.lang] }}</option>
    {%- endfor %}
  </select>
</div>
