{%- assign title = "relatedCode" -%}
<div class="add-more-group" id="addMore{{ title }}" data-title="{{ title }}">
  {% include form/components/title.html id=include.idPreset title=title -%}
<div class="add-more-content">
{%- include form/components/group-i18n-group.html id=include.idPreset title=title group="name" param=site.data.forms.param.relatedCode.name -%}
{% include form/components/group-i18n-group.html id=include.idPreset title=title group="URL" param=site.data.forms.param.relatedCode.URL -%}
</div>
</div>
