{% assign title = "name" -%}
{%- assign group = "select" -%}
<div class="form-group hide">
  {% include form/components/label-group.html id=include.id title=title group=group %}
  <select class="form-control" id="{{ title }}{{ group }}" name="{{ title }}{{ group }}" disabled>
    <option value="">&nbsp;</option>
  </select>
</div>

{% include form/components/title.html id=include.id title=title -%}
<p><small style="font-size: 11.4px">{{ site.data.i18n.form.code.name.charactersLimit[page.lang] }}</small></p>
{% include form/components/group-i18n.html id=include.id title=title maxLength=100 -%}
