{% assign title = "standardAcronym" -%}
{% assign group = "select" -%}
<div class="form-group">
  {% include form/components/label-group.html id=include.id title=title group=group param=site.data.forms.param.selectStandard %}
  <select class="form-control" id="{{ title }}{{ group }}" name="{{ title }}{{ group }}">
    <option value="">&nbsp;</option>
    {%- for standards in site.data.db.standard.standards -%}
      {%- assign standard = standards[1] %}
      <option value="{{ standard.standardAcronym | slugify }}">{{ standard.standardAcronym }}</option>
    {%- endfor %}
  </select>
</div>

{% include form/components/title.html id=include.id title=title -%}
{% include form/components/group.html id=include.id title=title -%}
