{%- assign title = "name" -%}
{%- assign group = "select" -%}
<div class="form-group">
  {% include form/components/label-group.html id=include.id title=title group=group param=site.data.forms.param.required_false %}
  <select class="form-control" id="{{ title }}{{ group }}" name="{{ title }}{{ group }}">
    <option value="">&nbsp;</option>
    {%- for software in site.data.software -%}
    <option value="{{ software[1].name[page.lang] | slugify }}">{{ software[1].name[page.lang] }}</option>
    {%- endfor %}
  </select>
</div>

{%- include form/presets/name.html id=include.id -%}
