{%- assign title = "standardAcronym" -%}
{%- assign group = "select" -%}
<div class="form-group">
  {% include form/components/label-group.html id=include.id title=title group=group param=site.data.forms.param.required_false %}
  <select class="form-control" id="{{ title }}{{ group }}" name="{{ title }}{{ group }}">
    <option value="">&nbsp;</option>
    {%- for standard in site.data.standard -%}
    <option value="{{ standard[1].standardAcronym | slugify }}">{{ standard[1].standardAcronym }}</option>
    {%- endfor %}
  </select>
</div>

{% include form/components/title.html id=include.id title=title -%}
{% include form/components/group.html id=include.id title=title -%}

{%- include form/presets/name.html id=include.id -%}

