{%- assign title = "name" -%}
{%- assign group = "select" -%}
<div class="form-group">
  {% include form/components/label-group.html id=include.id title=title group=group required=false %}
  <select class="form-control" id="{{ title }}{{ group }}" name="{{ title }}{{ group }}">
    <option value="">&nbsp;</option>
    {%- for oss in site.data.logiciels_libres-open_source_software -%}
    {%- assign software = oss[1] %}
    <option class="additional-option" value="{{ software.name[page.lang] | downcase }}">{{ software.name[page.lang] }}</option>
    {%- endfor %}
  </select>
</div>

{% include form/components/title.html id=include.id title=title -%}
{% include form/components/group-i18n.html id=include.id title=title -%}
