<h2>{{ site.data.i18n.form.presets.Status.title[page.lang] }}</h2>
<div class="form-group">
  <label for="status">{{ site.data.i18n.form.presets.Status.label[page.lang] }}</label>
  <select class="form-control" id="status" name="status">
    <option value="">&nbsp;</option>
    <option value="Alpha">{{ site.data.i18n.form.presets.Status.values.alpha[page.lang] }}</option>
    <option value="Beta">{{ site.data.i18n.form.presets.Status.values.beta[page.lang] }}</option>
    <option value="Maintained">{{ site.data.i18n.form.presets.Status.values.maintained[page.lang] }}</option>
    <option value="Deprecated">{{ site.data.i18n.form.presets.Status.values.deprecated[page.lang] }}</option>
    <option value="Retired">{{ site.data.i18n.form.presets.Status.values.retired[page.lang] }}</option>
  </select>
</div>
