{% assign title = "Status" %}
{% include form/components/title.html id=include.id title=title %}
<div class="form-group">
  {% include form/components/label.html id=include.id title=title required=false %}
  <select class="form-control" id="{{ title }}" name="{{ title }}">
    <option value="">&nbsp;</option>
    {% for options in site.data.i18n.form[include.id][title].options %}
      {% assign option = options[1] %}
      <option value="{{ option.en }}">{{ option[page.lang] }}</option>
    {% endfor %}
  </select>
</div>
