    {% include form/components/label-i18n.html id=include.idPreset title=include.title lang=include.lang param=include.param %}
    <div class="control-group input-group col-xs-2 mrgn-tp-md">
      {%- assign tag_arr = "" | split: ',' -%}
      {%- for govLevels in site.data.code -%}
      {%- for admin in govLevels[1] -%}
      {%- for release in admin[1].releases -%}
      {%- for tag in release.tags[lang] -%}
      {%- assign tag_arr = tag_arr | push: tag -%}
      {%- endfor -%}
      {%- endfor -%}
      {%- endfor -%}
      {%- endfor -%}
      {%- assign tag_arr = tag_arr | group_by: "" | sort: "name" -%}
      <input type="text" list="suggestions" 
      id="{{ lang1 }}{{ title }}" 
      name="{{ lang1 }}{{ title }}" 
      {%- if include.param.required == nil or include.param.required %} 
      required="required" 
      {% endif %}
        class="form-control">
      <datalist id="suggestions">
        <!--[if lte IE 9]><select><![endif]-->
      {%- for tag in tag_arr -%}
        <option label="{{tag.name}}" value="{{ tag.name }}">{{ tag.name }}</option>
      {%- endfor -%}
      </datalist>
    </div>