{%- assign title = "tags" -%}
{%- include form/components/title.html id=include.idPreset title=title -%}
{%- if page.lang == "en" -%}
{%- assign lang1 = "en" -%}
{%- assign lang2 = "fr" -%}
{%- else -%}
{%- assign lang1 = "fr" -%}
{%- assign lang2 = "en" -%}
{%- endif -%}
<div id="tags">
  <div id="tags{{ lang1 | upcase }}" class="form-group">
    {%- include form/presets/tagInput.html idPreset=include.idPreset lang=lang1 id=include.id title=title param=include.param -%}
  </div>
  <div id="tags{{ lang2 | upcase }}" class="form-group">
    {%- include form/presets/tagInput.html idPreset=include.idPreset lang=lang2 id=include.id title=title param=include.param -%}
  </div>
</div>
<div class="input-group control-group after-add-more col-xs-2">
  <button class="btn btn-primary add-more" type="button"><i class="glyphicon glyphicon-plus"></i>
    {{ site.data.i18n.form[include.idPreset][title].button[page.lang] }}</button>
</div>