---
layout: default
ref: formValidation
lang: en
permalink: /en/open-source-code-form-validation.html
---

<h1 property="name" id="wb-cont">Form with validation for open source code</h1>
<p>Click <a href="open-source-code-schema.html">here</a> to know more informations about the metadata schema for open source code.</p>

<div class="wb-frmvld">
<form action="#" method="get" id="validation">
<h2>Version of the metadata schema</h2>
	<div class="form-group">      
    <label for="shemaVersion" class="required">schemaVersion</label>
    <input class="form-control" id="shemaVersion" name="shemaVersion" type="text" readonly="readonly" required="required" value="1.0"/>
	</div>
        
<h2>Administration code</h2>
	<div class="form-group">
		<label for="adminCode" class="required">adminCode <strong class="required">(required)</strong></label>
    <select class="form-control" id="adminCode" name="adminCode" required="required">
      <option value="">&nbsp;</option>
      {% for adminsLevel in site.data.administrations %}
        {% assign adminsInfo = adminsLevel[1]%}
        {% for adminInfo in adminsInfo %}
          <option value = "{{ adminInfo.code }}">{{ adminInfo.name[page.lang] }}</option>
        {% endfor %}
      {% endfor %}
    </select>
  </div>

<h2>Contact or team for the project</h2>
<h3>contact:</h3>
  <div class="form-group">
    <label for="enUrlContact">URL</label>
    <input class="form-control" id="enUrlContact" name="enUrlContact" type="url" placeholder="enURL"/>

    <label for="frUrlContact"></label>
    <input class="form-control" id="frUrlContact" name="frUrlContact" type="url" placeholder="frURL"/>
  </div>

  <div class="form-group">
    <label for="emailContact" class="required" >email <strong class="required">(required)</strong></label>
    <input class="form-control" id="emailContact" name="emailContact" type="email" required="required" />
  </div>
  <div class="form-group">
    <label for="nameContact">name</span></label>
    <input class="form-control" id="nameContact" name="nameContact" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
  </div>
      <div class="form-group">
    <label for="phone">phone</span> </label>
    <input class="form-control" id="phone" name="phone" type="tel"  data-rule-phoneUS="true" />
  </div>

<h2>Date of the project</h2>
<h3>date:</h3>
  <div class="form-group">
    <label for="dateCreated" class="required">created <strong class="required">(required)</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
    <input class="form-control" id="dateCreated" name="dateCreated" type="date" data-rule-dateISO="true" required="required" />
  </div>
  <div class="form-group">
    <label for="dateLastModified">lastModified <span class="datepicker-format"> (YYYY-MM-DD)</span></label>
    <input class="form-control" id="dateLastModified" name="dateLastModified" type="date" data-rule-dateISO="true" />
  </div>
  <div class="form-group">
    <label for="dateLastUpdated" class="required">metadataLastUpdated <strong class="required">(required)</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
    <input class="form-control" id="dateLastUpdated" name="dateLastUpdated" type="date" data-rule-dateISO="true" required="required"/>
  </div>

<h2>Description of the project</h2>
	<div class="form-group">
		<label for="enDescription" class="required">description <strong class="required">(required)</strong></label>
		<input class="form-control" id="enDescription" name="enDescription" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required" placeholder="enDescription"/>
  
    <label for="frDescription"></label>
		<input class="form-control" id="frDescription" name="frDescription" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required" placeholder="frDescription"/>
  </div>

<h2>URL of the project download</h2>
  <div class="form-group">
    <label for="enDownloadUrl">downloadURL</label>
    <input class="form-control" id="enDownloadUrl" name="enDownloadUrl" type="url" placeholder="enURL"/>

    <label for="frDownloadUrl" ></span></label>
    <input class="form-control" id="frDownloadUrl" name="frDownloadUrl" type="url" placeholder="frURL"/>
  </div>

<h2>URL of the project homepage</h2>
  <div class="form-group">
    <label for="enHomepageURL">downloadURL</label>
    <input class="form-control" id="enHomepageURL" name="homepageURL" type="url" placeholder="enURL"/>

    <label for="frHomepageURL" ></span></label>
    <input class="form-control" id="frHomepageURL" name="homepageURL" type="url" placeholder="frURL"/>
  </div>

<h2>Programming languages used in the project</h2>
	<label for="language">languages</label>
  {% assign languages_array = "" | split: "," %}
  {% for fptms in site.data.code %}
  {% assign fptm = fptms[1] %}
  {% for admins in fptm %}
    {% assign admin = admins[1] %}
    {% for release in admin.releases %}
      {% for language in release.languages %}
        {% assign languages_array = languages_array  | push: language %}
      {% endfor %}
    {% endfor %}
    {% endfor %}
  {% endfor %}
  
  {% assign languages_array = languages_array | uniq  %}
  {% for language in languages_array %}
    <div class="checkbox">
      <label><input type="checkbox" value="{{ language }}"> {{ language  }}</label>
    </div>
  {% endfor %}

  <div id="languages"></div>
  <button type="button" class="btn btn-default" onclick = "addMoreLanguages()">Add more languages</button>

<h2>Name of the project</h2>
	<div class="form-group">
		<label for="enProjectName" class="required">name <strong class="required">(required)</strong></label>
		<input class="form-control" id="enProjectName" name="enProjectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required" placeholder="enName"/>
    
    <label for="frProjectName"></label>
		<input class="form-control" id="frProjectName" name="frProjectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required" placeholder="frName" />
  </div>

<h2>Organization within the department or agency to which the project belongs</h2>
  <div class="form-group">
    <label for="enOrganization">organization</label>
    <input class="form-control" id="enOrganization" name="enOrganization" type="text" placeholder="enOrganization" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>

    <label for="frOrganization"></label>
    <input class="form-control" id="frOrganization" name="frOrganization" type="text" placeholder="frOrganization" pattern="[A-Za-z\s]" data-rule-lettersonly="true"/>
  </div>

<h2>Groups partnering on the project</h2>
<h3>partner:</h3>
  <div class="form-group">
    <label for="enUrlPartner">downloadURL</label>
    <input class="form-control" id="enUrlPartner" name="enUrlPartner" type="url" placeholder="enURL"/>

    <label for="frUrlPartner"></label>
    <input class="form-control" id="frUrlPartner" name="enUrlPartner" type="url" placeholder="frURL"/>
  </div>
	<div class="form-group">
		<label for="emailPartner">Email</label>
		<input class="form-control" id="emailPartner" name="emailPartner" type="email"/>
	</div>
	<div class="form-group">
		<label for="enNamePartner">Name</label>
    <input class="form-control" id="enNamePartner" name="enNamePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" placeholder="enName"/>
    
    <label for="frNamePartner"></label>
    <input class="form-control" id="frNamePartner" name="frNamePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" placeholder="frName"/>
	</div>

<h2>License details</h2>
<h3>licenses:</h3>	
  <div class="form-group">
    <label for="enUrlLicense" class="required" >URL <strong class="required">(required)</strong></label>
    <input class="form-control" id="enUrlLicense" name="enUrlLicense" type="url" required="required" placeholder="enURL"/>

    <label for="frUrlLicense"></label>
    <input class="form-control" id="frUrlLicense" name="frUrlLicense" type="url" required="required" placeholder="frURL"/>
  </div>
  <div class="form-group">
    <label for="spdxID" class="required" >spdxID <strong class="required">(required)</strong></label>
    <input class="form-control" id="spdxID" name="spdxID" type="text"  required="required"/>
  </div>

<h2> URL of the public repository of the project</h2>
	<div class="form-group">
		<label for="enRepoUrl" class="required">repositoryURL <strong class="required">(required)</strong></label>
    <input class="form-control" id="enRepoUrl" name="enRepoUrl" type="url" required="required" placeholder="enURL"/>
    
    <label for="repoUrl"></label>
		<input class="form-control" id="frRepoUrl" name="frRepoUrl" type="url" required="required" placeholder="frUrl"/>
	</div>

<h2>Platforms or other software used in this project</h2>	
<h3>relatedCode:</h3>
  <div class="form-group">
    <label for="enUrlRelatedCode">URL</label>
    <input class="form-control" id="enUrlRelatedCode" name="enUrlRelatedCode" type="url" placeholder="enURL"/>
    
    <label for="frUrlRelatedCode"></label>
    <input class="form-control" id="frUrlRelatedCode" name="urlRelatedCode" type="url" placeholder="frURL"/>
  </div>
  <div class="form-group">
    <label for="enNameRelatedCode">name</label>
    <input class="form-control" id="enNameRelatedCode" name="enNameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" placeholder="enName"/>
    
    <label for="frNameRelatedCode"></label>
    <input class="form-control" id="frNameRelatedCode" name="enNameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" placeholder="frName"/>
  </div>

<h2>Development status of the project</h2>
	<div class="form-group">
    <label for="status">status</label>
      {% assign statuses_array = "" | split: "," %}
      {% for fptms in site.data.code %}
      {% assign fptm = fptms[1] %}
      {% for admins in fptm %}
        {% assign admin = admins[1] %}
        {% for release in admin.releases %}
          {% if release.status != nil %}
            {% assign statuses_array = statuses_array  | push: release.status %}
          {% endif %}
        {% endfor %}
        {% endfor %}
      {% endfor %}
		<select class="form-control" id="status" name="status">
      <option value="">&nbsp;</option>
      {% assign statuses_array = statuses_array | uniq  %}
      {% for status in statuses_array %}
        <option value="{{ status }}">{{ status }}</option>
      {% endfor %}
		</select>
	</div>

<h2>keywords that will be helpful in discovering and searching for the project</h2>
  <div id="tags" class="form-group">
    <label for="enTag" class="required" >tag <strong class="required">(required)</strong></label>
    <input class="form-control" id="enTag" name="tag" type="text" required="required" placeholder="enTag"/>
    <label for="frTag"></label>
    <input class="form-control" id="frTag" name="frTag" type="text" required="required" placeholder="frTag"/>
  </div>
  <button type="button" class="btn btn-default" onclick = "addMoreTags()">Add more tags</button>

<h2>Name of the version control system used in this project</h2>
	<div class="form-group">
		<label for="vcs">vcs</label>
		<input class="form-control" id="vcs" name="vcs" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
	</div>
		
<h2>Latest version for this project</h2>
	<div class="form-group">
		<label for="versionProject">version</label>
		<input class="form-control" id="versionProject" name="versionProject" type="text" />
	</div>

</form>
</div>

<script>

function addMoreLanguages(){
  let label = document.createElement("LABEL");
  let input = document.createElement("INPUT");
  let element = document.getElementById("languages");

  element.appendChild(label);
  element.appendChild(input);

  element.setAttribute("class", "form-group");
  label.setAttribute("for", "language");
  input.setAttribute("class", "form-control");
  input.setAttribute("id", "language");
  input.setAttribute("name", "language");
  input.setAttribute("type", "text");
}
function addMoreTags(){
  let label = document.createElement("LABEL");
  let input = document.createElement("INPUT");

  document.getElementById("tags").appendChild(label);
  document.getElementById("tags").appendChild(input);

  label.setAttribute("for", "tag");
  input.setAttribute("class", "form-control");
  input.setAttribute("id", "tag");
  input.setAttribute("name", "tag");
  input.setAttribute("type", "text");
}

</script>

