---
layout: default
ref: formValidation
lang: en
permalink: /en/open-source-code-form-validation.html
---

<h1 property="name" id="wb-cont">Form with validation for open source code</h1>
<p>Click <a href="open-source-code-schema.html">here</a> to know more informations about the metadata schema for open source code.</p>

<div class="wb-frmvld">
<form action="#" method="get" id="validation">
<legend><span class="field-name"> Version of the metadata schema</span></legend>
	<div class="form-group">      
    <label for="shemaVersion" class="required"><span class="field-name">schemaVersion</span></label>
    <input class="form-control" id="shemaVersion" name="shemaVersion" type="text" readonly="readonly" required="required" value="1.0"/>
	</div>
        
<legend><span class="field-name"> Administration code</span></legend>
	<div class="form-group">
		<label for="adminCode" class="required"><span class="field-name">adminCode</span> <strong class="required">(required)</strong></label>
			<select class="form-control" id="adminCode" name="adminCode" required="required">
        <option value="">&nbsp;</option>
        {% for adminsLevel in site.data.administrations %}
          {% assign adminsInfo = adminsLevel[1]%}
          {% for adminInfo in adminsInfo %}
            <option value = "{{ adminInfo.code }}">{{ adminInfo.name[page.lang] }}</option>
          {% endfor %}
        {% endfor %}
			</select>
  </div>


<legend><span class="field-name">Contact or team for the project</span></legend>
	<h3>contact: </h3>	
		<div class="form-group">
			<label for="urlContact"><span class="field-name">URL</span></label>
			<input class="form-control" id="urlContact" name="urlContact" type="url" />
		</div>
        <div class="form-group">
			<label for="emailContact" class="required" ><span class="field-name">email </span> <strong class="required">(required)</strong></label>
			<input class="form-control" id="emailContact" name="emailContact" type="email" required="required" />
		</div>
        <div class="form-group">
			<label for="nameContact"><span class="field-name">name</span></label>
			<input class="form-control" id="nameContact" name="nameContact" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
		</div>
        <div class="form-group">
			<label for="phone"><span class="field-name">phone</span> </label>
			<input class="form-control" id="phone" name="phone" type="tel"  data-rule-phoneUS="true" />
		</div>

<legend><span class="field-name"> Date of the project</span></legend>
	<h3>date: </h3>
		 <div class="form-group">
			<label for="dateCreated" class="required"><span class="field-name">created</span> <strong class="required">(required)</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
			<input class="form-control" id="dateCreated" name="dateCreated" type="date" data-rule-dateISO="true" required="required" />
		</div>
        <div class="form-group">
			<label for="dateLastModified"><span class="field-name">lastModified</span><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
			<input class="form-control" id="dateLastModified" name="dateLastModified" type="date" data-rule-dateISO="true" />
		</div>
         <div class="form-group">
			<label for="dateLastUpdated" class="required"><span class="field-name">metadataLastUpdated</span> <strong class="required">(required)</strong><span class="datepicker-format"> (YYYY-MM-DD)</span></label>
			<input class="form-control" id="dateLastUpdated" name="dateLastUpdated" type="date" data-rule-dateISO="true" required="required"/>
		</div>

<legend><span class="field-name">Description of the project</span></legend>
	<div class="form-group">
		<label for="description" class="required"><span class="field-name">description</span> <strong class="required">(required)</strong></label>
		<input class="form-control" id="description" name="description" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required" />
	</div>

<legend><span class="field-name">URL of the project download</span></legend>
	<div class="form-group">
		<label for="downloadURL"><span class="field-name">downloadURL</span></label>
		<input class="form-control" id="downloadURL" name="downloadURL" type="url" />
	</div>

<legend><span class="field-name">URL of the project homepage</span></legend>
	<div class="form-group">
		<label for="homepageURL"><span class="field-name">homepageURL</span></label>
		<input class="form-control" id="homepageURL" name="homepageURL" type="url" />
	</div>

<legend><span class="field-name">Programming languages used in the project</span></legend>
	<label for="language"><span class="field-name">languages</span></label>
  {% assign languages_array = "" | split: "," %}
  {% for fptms in site.data.code %}
  {% assign fptm = fptms[1] %}
  {% for admins in fptm %}
    {% assign admin = admins[1] %}
    {% for release in admin.releases %}
      {% for language in release.languages %}
        {% assign languages_array = languages_array  | push: language %}
      {% endfor %}
    {% endfor %}
    {% endfor %}
  {% endfor %}
  
  {% assign languages_array = languages_array | uniq  %}
  {% for language in languages_array %}
    <div class="checkbox">
      <label><input type="checkbox" value="{{ language }}"> {{ language  }}</label>
    </div>
  {% endfor %}

  <div id="languages"></div>
  <button type="button" class="btn btn-default" onclick = "addMoreLanguages()">Add more languages</button>

<legend><span class="field-name">Name of the project</span></legend>
	<div class="form-group">
		<label for="projectName" class="required"><span class="field-name">name</span> <strong class="required">(required)</strong></label>
		<input class="form-control" id="projectName" name="projectName" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" required="required" />
	</div>

<legend><span class="field-name">Organization within the department or agency to which the project belongs</span></legend>
	<div class="form-group">
		<label for="organization" ><span class="field-name">organization</span></label>
		<input class="form-control" id="organization" name="organization" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
	</div>

<legend ><span class="field-name">Groups partnering on the project</span></legend>
	<h3>partners: </h3>
	<div class="form-group">
		<label for="urlPartner"><span class="field-name">URL</span></label>
		<input class="form-control" id="urlPartner" name="urlPartner" type="url" />
	</div>
	<div class="form-group">
		<label for="emailPartner"><span class="field-name">Email </span></label>
		<input class="form-control" id="emailPartner" name="emailPartner" type="email"/>
	</div>
	<div class="form-group">
		<label for="namePartner"><span class="field-name">Name</span></label>
		<input class="form-control" id="namePartner" name="namePartner" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
	</div>

<legend><span class="field-name">License details</span></legend>
	<h3>license: </h3>
	
        <div class="form-group">
			<label for="urlLicense" class="required" ><span class="field-name">URL </span> <strong class="required">(required)</strong></label>
			<input class="form-control" id="urlLicense" name="urlLicense" type="url" required="required" />
		</div>
		<div class="form-group">
			<label for="spdxID" class="required" ><span class="field-name">spdxID </span> <strong class="required">(required)</strong></label>
			<input class="form-control" id="spdxID" name="spdxID" type="text"  required="required" />
		</div>

<legend><span class="field-name"> URL of the public repository of the project</span></legend>
	<div class="form-group">
		<label for="repoUrl" class="required"><span class="field-name">repositoryURL</span> <strong class="required">(required)</strong></label>
		<input class="form-control" id="repoUrl" name="repoUrl" type="url" required="required" />
	</div>

<legend><span class="field-name">Platforms or other software used in this project</span></legend>		
	<h3>relatedCode: </h3>
		<div class="form-group">
			<label for="urlRelatedCode"><span class="field-name">URL</span></label>
			<input class="form-control" id="urlRelatedCode" name="urlRelatedCode" type="url" />
		</div>
        <div class="form-group">
			<label for="nameRelatedCode"><span class="field-name">name</span></label>
			<input class="form-control" id="nameRelatedCode" name="nameRelatedCode" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
		</div>

<legend><span class="field-name"> Development status of the project</span></legend>
	<div class="form-group">
    <label for="status"><span class="field-name">status</span></label>
      {% assign statuses_array = "" | split: "," %}
      {% for fptms in site.data.code %}
      {% assign fptm = fptms[1] %}
      {% for admins in fptm %}
        {% assign admin = admins[1] %}
        {% for release in admin.releases %}
          {% if release.status != nil %}
            {% assign statuses_array = statuses_array  | push: release.status %}
          {% endif %}
        {% endfor %}
        {% endfor %}
      {% endfor %}
		<select class="form-control" id="status" name="status">
      <option>&nbsp;</option>
      {% assign statuses_array = statuses_array | uniq  %}
      {% for status in statuses_array %}
        <option>{{ status }}</option>
      {% endfor %}
		</select>
	</div>

<legend><span class="field-name">keywords that will be helpful in discovering and searching for the project</span></legend>
	<h3>tags: </h3>
  <div id="tags">    
    <div class="form-group">
      <label for="tag" class="required" ><span class="field-name">tag</span> <strong class="required">(required)</strong></label>
      <input class="form-control" id="tag" name="tag" type="text" required="required" />
    </div>
  </div>
  <button type="button" class="btn btn-default" onclick = "addMoreTags()">Add more tags</button>


<legend><span class="field-name">Name of the version control system used in this project</span></legend>
	<div class="form-group">
		<label for="vcs"><span class="field-name">vcs</span></label>
		<input class="form-control" id="vcs" name="vcs" type="text" pattern="[A-Za-z\s]" data-rule-lettersonly="true" />
	</div>
		
<legend><span class="field-name">Latest version for this project</span></legend>
	<div class="form-group">
		<label for="versionProject"><span class="field-name">version</span></label>
		<input class="form-control" id="versionProject" name="versionProject" type="text" />
	</div>

</form>
</div>

<script>
    function addMoreLanguages(){
    let div = document.createElement("DIV");
    let label = document.createElement("LABEL");
    let input = document.createElement("INPUT");

    document.getElementById("languages").appendChild(div).appendChild(label);
    document.getElementById("languages").appendChild(div).appendChild(input);

    div.setAttribute("class", "form-group");
    label.setAttribute("for", "language");
    input.setAttribute("class", "form-control");
    input.setAttribute("id", "language");
    input.setAttribute("name", "language");
    input.setAttribute("type", "text");
  }

  function addMoreTags(){
    let div = document.createElement("DIV");
    let label = document.createElement("LABEL");
    let input = document.createElement("INPUT");

    document.getElementById("tags").appendChild(div).appendChild(label);
    document.getElementById("tags").appendChild(div).appendChild(input);

    div.setAttribute("class", "form-group");
    label.setAttribute("for", "tag");
    input.setAttribute("class", "form-control");
    input.setAttribute("id", "tag");
    input.setAttribute("name", "tag");
    input.setAttribute("type", "text");
  }
</script>

