---
layout: default
ref: codeOrgs
lang: en
permalink: /open-source-code-orgs.html
---
<h1>List of code open source repositories</h1>
<p>Canadian public administrations at the federal, provincial, territorial and municipal level use Github, Gitlab and others code repositories to contribute to open source code.</p>
<ul class="list-unstyled">
   <li>
      <details>
         <summary>Federal</summary>
         <div class="list-group">
           {% for fptms in site.data.code %}
        {% assign fptm = fptms[1] %}
        {% for admins in fptm %}
          {% assign admin = admins[1] %}
          {% for release in admin.releases %}
          {% assign aName = site.data.administrations.federal | where: "code", admin.adminCode %}
          {% if aName[0].name[page.lang] != nil %}
          <ul class="list-group">
          <li class="list-group-item">
          {% assign my_link =  release.repositoryURL[page.lang] | remove: "https://"| split: "/" %}
          <a href="{{ release.repositoryURL[page.lang] | remove: my_link[2]}}" target="_blank">
                  {% assign my_array =  release.repositoryURL[page.lang] | remove: "https://"| split: "/" %}
                  {{my_array[1]}}
              </a>
              </li>
              </ul>
              {% endif %}
              {% endfor %}
        {% endfor %}
      {% endfor %}

         </div>
      </details>
   </li>
    <li>
      <details>
         <summary>Provincial</summary>
         <div class="list-group">
           {% for fptms in site.data.code %}
        {% assign fptm = fptms[1] %}
        {% for admins in fptm %}
          {% assign admin = admins[1] %}
          {% for release in admin.releases %}
          {% assign aName = site.data.administrations.provincial | where: "code", admin.adminCode %}
            {% if aName[0].name[page.lang] != nil %}
         <ul class="list-group">
          <li class="list-group-item">
          {% assign my_link =  release.repositoryURL[page.lang] | remove: "https://"| split: "/" %}
          <a href="{{ release.repositoryURL[page.lang] | remove: my_link[2]}}" target="_blank">
                  {% assign my_array =  release.repositoryURL[page.lang] | remove: "https://"| split: "/" %}
                  {{my_array[1] }}
              </a>
              </li>
              </ul>
              {% endif %}
              {% endfor %}
        {% endfor %}
      {% endfor %}

         </div>
      </details>
   </li>
   <li>
      <details>
      <summary>Municipal</summary>
     <div class="list-group">
           {% for fptms in site.data.code %}
        {% assign fptm = fptms[1] %}
        {% for admins in fptm %}
          {% assign admin = admins[1] %}
          {% for release in admin.releases %}
          {% assign aName = site.data.administrations.municipal | where: "code", admin.adminCode %}
            {% if aName[0].name[page.lang] != nil %}
          <ul class="list-group">
          <li class="list-group-item">
          {% assign my_link =  release.repositoryURL[page.lang] | remove: "https://"| split: "/" %}
          <a href="{{ release.repositoryURL[page.lang] | remove: my_link[2]}}" target="_blank">
                  {% assign my_array =  release.repositoryURL[page.lang] | remove: "https://"| split: "/" %}
                  {{my_array[1]}}
              </a>
              </li>
              </ul>
              {% endif %}
              {% endfor %}
        {% endfor %}
      {% endfor %}
         </div>
      <details>
   </li>
</ul>