<li>
  <details open>
    <summary>date <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
    <p>{{ site.DateDesc[page.lang] }}</p>
    <ul class="list-unstyled">
      {%- if include.created -%}
      <li>
        <details open>
          <summary>created <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</summary>
          <h5>{{ site.Created[page.lang] }}</h5>
          <p>{{ site.CreatedDesc[page.lang] }}</p>
        </details>
      </li>
      {%- endif -%}
      {%- if include.modified -%}
      <li>
        <details open>
          <summary>lastModified [string]</summary>
          <h5>{{ site.LastModified[page.lang] }}</h5>
          <p>{{ site.LastModifiedDesc[page.lang] }}</p>
        </details>
      </li>
      {%- endif -%}
      {%- if include.metadata -%}
      <li>
        <details open>
          <summary>metadataLastUpdated <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</summary>
          <h5>{{ site.LastUpdated[page.lang] }}</h5>
          <p>{{ site.MetaDataLastUpdatedDesc[page.lang] }}</p>
        </details>
      </li>
      {%- endif -%}
    </ul>
  </details>
</li>
