<li>
  <details open>
    <summary>description <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
    <h5>{{ site.DescriptionName[page.lang] }}</h5>
    <p>{{ site.DescriptionDesc[page.lang] }}</p>
    <ul>
      <li>{{ site.DescriptionEN[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
      <li>{{ site.DescriptionFR[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
    </ul>
  </details>
</li>