{%- capture id -%}{{ site.data.forms[page.config].id }}{%- endcapture -%}
{%- assign idPreset='presets' -%}
<ul class="list-unstyled">
  {%- for formGroup in site.data.forms[page.config].formGroups -%}
    {%- if formGroup.preset -%}
      {%- case formGroup.preset -%}
        {%- when 'adminCode' -%}
          {%- include schema/presets/adminCode.html id=idPreset -%}
        {%- when 'contact' -%}
          {%- include schema/presets/contact.html id=idPreset phone=formGroup.phone required=formGroup.required -%}
        {%- when 'dates' -%}
          {%- include schema/presets/dates.html id=idPreset created=formGroup.created started=formGroup.started modified=formGroup.modified -%}
        {%- when 'description' -%}
          {%- include schema/presets/description.html id=idPreset -%}
        {%- when 'homepageURL' -%}
          {%- include schema/presets/homepageURL.html id=idPreset -%}
        {%- when 'languages' -%}
          {%- include schema/presets/languages.html id=idPreset -%}
        {%- when 'licenses' -%}
          {%- include schema/presets/licenses.html id=idPreset -%}
        {%- when 'orgLevel' -%}
          {%- include schema/presets/orgLevel.html id=idPreset -%}
        {%- when 'provinceSelect' -%}
          {%- include schema/presets/provinceSelect.html id=idPreset -%}
        {%- when 'relatedCode' -%}
          {%- include schema/presets/relatedCode.html id=idPreset -%}
        {%- when 'schemaVersion' -%}
          {%- include schema/presets/schemaVersion.html id=idPreset -%}
        {%- when 'status' -%}
          {%- include schema/presets/status.html id=idPreset -%}
        {%- when 'submitter' -%}
          <!-- Submitter -->
        {%- when 'tags' -%}
          {%- include schema/presets/tags.html id=idPreset -%}
        {%- when 'selectStandard' -%}
          <!-- SelectStandard -->
        {%- when 'selectCode' -%}
          {%- include schema/presets/selectCode.html id=idPreset -%}
        {%- when 'selectSoftware' -%}
          <!-- selectSoftware -->
        {%- when 'newAdmin' -%}
          {%- include schema/presets/newAdmin.html id=idPreset -%}
        {%- when 'hr' -%}
          <!-- hr -->
        {%- when 'empty' -%}
          {% if formGroup.start %}
            {%- include schema/presets/wrap_start.html id=id title=formGroup.title -%}
          {% else %}
            {%- include schema/presets/wrap_end.html -%}
          {% endif %}
      {%- endcase -%}
    {%- else -%}
      {%- case formGroup.widget -%}
        {%- when 'group' -%}
          {%- include schema/widgets/group.html id=id title=formGroup.title fields=formGroup.fields required=formGroup.required more=formGroup.more -%}
        {%- when 'select' -%}
          {%- include schema/widgets/select.html id=id title=formGroup.title required=formGroup.required options=formGroup.options more=formGroup.more -%}
        {%- when 'string' -%}
          {%- include schema/widgets/string.html id=id title=formGroup.title type=formGroup.type rule=formGroup.rule required=formGroup.required more=formGroup.more -%}
        {%- when 'string-i18n' -%}
          {%- include schema/widgets/string-i18n.html id=id title=formGroup.title type=formGroup.type rule=formGroup.rule required=formGroup.required prepend=formGroup.prepend more=formGroup.more -%}
      {%- endcase -%}
    {%- endif -%}
  {%- endfor -%}
</ul>
