<li>
  <details open>
    <summary>repositoryURL <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [array]</summary>
    <h5>{{ site.RepositoryURLName[page.lang] }}</h5>
    <p>{{ site.RepositoryURLDesc[page.lang] }}</p>
    <ul>
      <li>{{ site.RepositoryURLEN[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
      <li>{{ site.RepositoryURLFR[page.lang] }} <span class="bg-primary">{{ site.MandatoryField[page.lang] }}</span> [string]</li>
    </ul>
  </details>
</li>