.tbl-gridify {
  padding-top: 15px;
}

.tbl-gridify tr {
  padding-bottom: 20px;
}

.tbl-gridify td {
  border-right: 1px solid #8e8e8e;
  border-left: 1px solid #8e8e8e;
}

.tbl-gridify td:first-child {
  padding-top: 15px;
  background: #f5f5f5;
  color: #333;
  border: 1px solid #8e8e8e;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tbl-gridify td:last-child {
  border-bottom: 1px solid #8e8e8e;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tbl-gridify td:first-child.dataTables_empty {
  background: none !important;
}

.tbl-gridify td:first-child + td {
  padding-top: 15px;
}

.tbl-gridify td:first-child a,
.tbl-gridify td:first-child a:hover,
.tbl-gridify td:first-child a:active,
.tbl-gridify td:first-child a:focus,
.tbl-gridify td:first-child a:visited {
  color: #333 !important;
}

.tbl-gridify td {
  padding: 0 15px 15px 15px;
}
