{%- if include.param.more %}<div class="add-more-group" id="addMore{{ include.title }}" data-title="{{ include.title }}">{% endif -%}
{%- include form/components/title.html id=include.id title=include.title param=include.param -%}
{%- if include.param.more %}<div class="add-more-content">{% endif -%}

{%- for field in include.fields -%}

  {%- if field.required == nil -%}
    {%- assign include.param.required = include.param.required -%}
  {%- else -%}
    {%- assign include.param.required = field.param.required -%}
  {%- endif -%}

  {%- assign type = 'widgets' -%}
  {%- assign name = field.title -%}
  {%- capture file -%}{{ field.widget }}-group{%- endcapture -%}

  {%- capture path -%}form/{{ type }}/{{ file }}.html{%- endcapture -%}
  {%- include {{ path }} param=field.param id=include.id idPreset=include.idPreset title=include.title required=required group=field.title -%}
{%- endfor -%}
{%- if include.param.more -%}</div></div>{%- endif %}
