{%- include form/components/title.html id=include.id title=include.title prepend=include.prepend -%}
<div class="form-group">
  {%- include form/components/label.html id=include.id title=include.title require=include.required -%}
  <select class="form-control" id="{{ include.title }}" name="{{ include.title }}"{% if include.required == nil or include.required %} required="required"{% endif %}>
    <option value="">&nbsp;</option>
    {%- for option in include.options -%}
      <option value="{{ option }}">{{ site.data.i18n.form[include.id][include.title].options[option][page.lang] }}</option>
    {%- endfor -%}
  </select>
</div>
