<div class="form-group">
  {%- include form/components/label.html id=include.id title=include.title param=include.param -%}
  <select class="form-control" id="{{ include.title }}" name="{{ include.title }}"{% if include.param.required == nil or include.param.required %} required="required"{% endif %}>
    <option value="">&nbsp;</option>
    {%- for option in include.param.options -%}
      {%- capture o -%}{{ option }}{%- endcapture -%}
      <option value="{{ o }}">{{ site.data.i18n.form[include.id][include.title].options[o][page.lang] }}</option>
    {%- endfor -%}
  </select>
</div>
