<div class="form-group">
  {%- assign lang = "en" %}
  {% include form/components/label-i18n.html id=include.id title=include.title param=include.param lang=lang %}
  {% include form/components/input-i18n.html title=include.title param=include.param lang=lang %}
</div>
<div class="form-group">
  {%- assign lang = "fr" %}
  {% include form/components/label-i18n.html id=include.id title=include.title param=include.param lang=lang %}
  {% include form/components/input-i18n.html title=include.title param=include.param lang=lang %}
</div>
