{%- if page.lang == "en" -%}
{%- assign lang1 = "en" -%}
{%- assign lang2 = "fr" -%}
{%- else -%}
{%- assign lang1 = "fr" -%}
{%- assign lang2 = "en" -%}
{%- endif -%}
<div class="form-group">
  {% include form/components/label-i18n-group.html id=include.id title=include.title param=include.param lang=lang1 group=include.group %}
  {% include form/components/input-i18n-group.html title=include.title param=include.param lang=lang1 group=include.group %}
</div>
<div class="form-group">
  {% include form/components/label-i18n-group.html id=include.id title=include.title param=include.param lang=lang2 group=include.group %}
  {% include form/components/input-i18n-group.html title=include.title param=include.param lang=lang2 group=include.group %}
</div>
