{%- capture path -%}{{ include.param.prepend }}{{ include.title }}{%- endcapture -%}
<li>
  <details open>
    <summary>{{ include.group }} {% include schema/components/required.html required=include.param.required %} {% if include.array or include.param.more %}[array]{% else %}[string]{% endif %}</summary>
    <h5>{{ site.data.i18n.form[include.id][include.title].labels[include.group][page.lang] }}</h5>
    <p>{{ site.data.i18n.form[include.id][path].infobulle[include.group][page.lang] }}</p>
  </details>
</li>
