name: Build and test website

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Main repo
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1.64.1
        with:
          bundler-cache: true

      - name: Build with Jekyll
        run: bundle exec jekyll build

      - name: Run HTMLProofer
        run: bundle exec htmlproofer --disable-external --allow-hash-href ./_site

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4

      - name: Install NPM dependencies
        run: npm ci

      - name: Run HTML5 Validator
        run: npm run lint:html

      - name: Run Cypress tests
        run: |
          bundle exec jekyll serve --detach
          npm run cypress:run
