name: Markdownlint

on:
  pull_request:
    paths:
      - ".github/workflows/markdownlint-problem-matcher.json"
      - ".github/workflows/markdownlint.yml"
      - ".markdownlint.json"
      - "package*.json"
      - "**/*.md"

  push:
    branches-ignore:
      - "dependabot/**"
    paths:
      - ".github/workflows/markdownlint-problem-matcher.json"
      - ".github/workflows/markdownlint.yml"
      - ".markdownlint.json"
      - "package*.json"
      - "**/*.md"

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          cache: npm

      - name: Install NPM dependencies
        run: npm ci

      - name: Run Markdownlint
        run: |
          echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
          npm run lint:md
